<main>
			<!-- bsSlidViv -->
			<div class="bsSlidViv">
				<div>
					<!-- introBannerBlock -->
					<section class="introBannerBlock hdIsVi w-100 text-center text-white position-relative d-flex bgCover" style="background-image: url(http://placehold.it/1920x900);">
						<div class="ibbAlignHolder w-100 d-flex align-items-center">
							<div class="ibbHolder w-100 py-6">
								<div class="container holder position-relative">
									<div class="row">
										<div class="col-12 col-md-8 offset-md-2">
											<strong class="d-block fontSerif mainHeadingTitle font-weight-normal mb-4">Currently Onview - <time datetime="2011-01-12">14 May 2020</time></strong>
											<h1 class="text-white ibbHeading mb-8">The Upstairs Room of A art Taminiau</h1>
											<a href="javascript:void(0);" class="btn btn-dark btnDarkInverse align-top btnMdMinWidth">View Details</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
				<div>
					<!-- introBannerBlock -->
					<section class="introBannerBlock hdIsVi w-100 text-center text-white position-relative d-flex bgCover" style="background-image: url(http://placehold.it/1920x900);">
						<div class="ibbAlignHolder w-100 d-flex align-items-center">
							<div class="ibbHolder w-100 py-6">
								<div class="container holder position-relative">
									<div class="row">
										<div class="col-12 col-md-8 offset-md-2">
											<strong class="d-block fontSerif mainHeadingTitle font-weight-normal mb-4">Currently Onview - <time datetime="2011-01-12">14 May 2020</time></strong>
											<h1 class="text-white ibbHeading mb-8">The Upstairs Room of A Taminiau</h1>
											<a href="javascript:void(0);" class="btn btn-dark btnDarkInverse align-top btnMdMinWidth">View Details</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
				<div>
					<!-- introBannerBlock -->
					<section class="introBannerBlock hdIsVi w-100 text-center text-white position-relative d-flex bgCover" style="background-image: url(http://placehold.it/1920x900);">
						<div class="ibbAlignHolder w-100 d-flex align-items-center">
							<div class="ibbHolder w-100 py-6">
								<div class="container holder position-relative">
									<div class="row">
										<div class="col-12 col-md-8 offset-md-2">
											<strong class="d-block fontSerif mainHeadingTitle font-weight-normal mb-4">Currently Onview - <time datetime="2011-01-12">14 May 2020</time></strong>
											<h1 class="text-white ibbHeading mb-8">The Upstairs Room of A art</h1>
											<a href="javascript:void(0);" class="btn btn-dark btnDarkInverse align-top btnMdMinWidth">View Details</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
			<!-- scheduleDetailsAside -->
			<aside class="scheduleDetailsAside bg-secondary text-gray888 pt-5 pt-md-8 pb-1 pb-md-4">
				<div class="container">
					<div class="row px-xl-6">
						<div class="col-12 col-md-4 col">
							<!-- sdaColumn -->
							<div class="sdaColumn d-flex mb-6">
								<span class="icnWrap d-block mr-3 mr-xl-6 flex-shrink-0 mt-2">
									<img src="images/icn01.svg" class="img-fluid" width="48" height="49" alt="icon">
								</span>
								<div class="descrWrap">
									<strong class="h h3 d-block font-weight-normal text-graydfdfdf mb-2">Hours</strong>
									<p class="mb-5">Daily 9.30 am–6.00 pm</p>
									<a href="javascript:void(0);" class="btn btnGr999 btnGr999Outline bdr2 align-top btn-sm">See All Hours</a>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-4 col">
							<!-- sdaColumn -->
							<div class="sdaColumn d-flex mb-6">
								<span class="icnWrap d-block mr-3 mr-xl-6 flex-shrink-0 mt-2">
									<img src="images/icn02.svg" class="img-fluid" width="48" height="47" alt="icon">
								</span>
								<div class="descrWrap">
									<strong class="h h3 d-block font-weight-normal text-graydfdfdf mb-2">Location</strong>
									<p class="mb-5">2270 S Real Camino Lake California, US 90967</p>
									<a href="javascript:void(0);" class="btn btnGr999 btnGr999Outline bdr2 align-top btn-sm">Getting Here</a>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-4 col">
							<!-- sdaColumn -->
							<div class="sdaColumn d-flex mb-6">
								<span class="icnWrap d-block mr-3 mr-xl-6 flex-shrink-0 mt-2">
									<img src="images/icn03.svg" class="img-fluid" width="48" height="49" alt="icon">
								</span>
								<div class="descrWrap">
									<strong class="h h3 d-block font-weight-normal text-graydfdfdf mb-2">Ticket</strong>
									<p class="mb-5">Like to Visit the Museum? Tickets are only available online</p>
									<a href="javascript:void(0);" class="btn btnGr999 btnGr999Outline bdr2 align-top btn-sm">Buy Online</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</aside>
			<!-- currentExibitionBlock -->
			<section class="currentExibitionBlock hasBdr pt-6 pt-md-9 pt-lg-14 pt-xl-20 pb-6 pb-lg-10 pb-xl-16">
				<div class="container">
					<!-- teeSideHead -->
					<header class="teeSideHead mb-6 mb-lg-11">
						<div class="row align-items-center">
							<div class="col-12 col-md-8">
								<h1 class="text-capitalize mb-0">Currently Onview</h1>
							</div>
							<div class="col-12 col-md-4 text-right">
								<a href="single-exhibition.html" class="d-none d-md-inline-block  align-top teeSeeAllBtn mt-2">See All Exhibitions <i class="icomoon-arrowCircleRight align-middle icn ml-1"><span class="sr-only">icon</span></i></a>
							</div>
						</div>
					</header>
					<div class="row">
						<div class="col-12 col-sm-6 col-md-4">
							<!-- currExibitColumn -->
							<article class="currExibitColumn mb-6 mx-auto">
								<div class="imgHolder mb-3 mb-lg-6">
									<a href="single-exhibition.html">
										<img src="http://placehold.it/365x270" class="img-fluid w-100 d-block" alt="image description">
									</a>
								</div>
								<strong class="catagoryTitle d-block font-weight-normal text-uppercase mb-2">Exhibition</strong>
								<h2 class="mb-3">
									<a href="single-exhibition.html">Mutiny: Works by Géricault</a>
								</h2>
								<time datetime="2011-01-12" class="d-block cecTime text-gray777">13 Oct 2018 - 15 Feb 2020</time>
							</article>
						</div>
							<!-- currExibitColumn -->
						<div class="col-12 col-sm-6 col-md-4">
							<article class="currExibitColumn mb-6 mx-auto">
								<div class="imgHolder mb-3 mb-lg-6">
									<a href="single-exhibition.html">
										<img src="http://placehold.it/365x270" class="img-fluid w-100 d-block" alt="image description">
									</a>
								</div>
								<strong class="catagoryTitle d-block font-weight-normal text-uppercase mb-2">Now On view</strong>
								<h2 class="mb-3">
									<a href="single-exhibition.html">Palileo Descent VR with tim Creek</a>
								</h2>
								<time datetime="2011-01-12" class="d-block cecTime text-gray777">Open 12:30 - 1:00 Daily</time>
							</article>
						</div>
							<!-- currExibitColumn -->
						<div class="col-12 col-sm-6 col-md-4">
							<article class="currExibitColumn mb-6 mx-auto">
								<div class="imgHolder mb-3 mb-lg-6">
									<a href="single-exhibition.html">
										<img src="http://placehold.it/365x270" class="img-fluid w-100 d-block" alt="image description">
									</a>
								</div>
								<strong class="catagoryTitle d-block font-weight-normal text-uppercase mb-2">Exhibition</strong>
								<h2 class="mb-3">
									<a href="single-exhibition.html">Michel Wernar Gallery</a>
								</h2>
								<time datetime="2011-01-12" class="d-block cecTime text-gray777">25 Oct 2018 - 10 May 2020</time>
							</article>
						</div>
					</div>
					<!-- btnWrap -->
					<div class="btnWrap text-center">
						<a href="single-exhibition.html" class="d-inline-block d-md-none align-top teeSeeAllBtn mt-2">See All Exhibitions <i class="icomoon-arrowCircleRight align-middle icn ml-1"><span class="sr-only">icon</span></i></a>
					</div>
				</div>
			</section>
			<!-- aboutOnviewBlock -->
			<article class="aboutOnviewBlock hasBdr bg-grayf8f8f8 pt-6 pb-6 pt-md-10 pb-md-10 pt-lg-16 pb-lg-16 pt-xl-20 pb-xl-20">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-4">
							<!-- headHeading -->
							<header class="headHeading">
								<h2 class="h2Medium">Read About Our Institution</h2>
							</header>
						</div>
						<div class="col-12 col-md-8">
							<div class="decrTextMedium fontSerif">
								<p>Founded in 1965 as an educational institution based in london, The Art & History Museum is committed to producing distinctive exhibitions and public programming on Asian art.</p>
							</div>
							<hr class="my-4 my-lg-7">
							<h3 class="h3Small fontBase fwMedium mb-5">On View at Museum</h3>
							<!-- bulletList -->
							<ul class="list-unstyled bulletList listHasColumns text-gray777 mb-0">
								<li>Middle Eastern Art</li>
								<li>Artifacts and Antiquities</li>
								<li>Traditional Art</li>
								<li>Western &amp; Non-Western cultures</li>
								<li>Photography</li>
								<li>Emerging Design</li>
								<li>East Asian Art</li>
								<li>War History</li>
								<li>Latin American Art</li>
								<li>Gardens</li>
								<li>20th Century Design</li>
								<li>Contemporary Design</li>
							</ul>
						</div>
					</div>
				</div>
			</article>
			<!-- collectionsBlock -->
			<section class="collectionsBlock pt-6 pt-md-11 pt-lg-16 pt-xl-21 pb-6 pb-md-10 pb-lg-14 pb-xl-20">
				<div class="container">
					<!-- topHeadingHead -->
					<header class="topHeadingHead text-center mb-7 mb-lg-11">
						<strong class="tpHeadingTitle text-uppercase font-weight-normal d-block mb-2 mb-md-5">Art works &amp; Objects</strong>
						<h1>Explore the Collection</h1>
					</header>
					<!-- makeItMasonery -->
					<div class="row makeItMasonery">
						<div class="mimItem col-12 col-sm-6 col-md-4">
							<!-- collectionColumn -->
							<article class="collectionColumn mb-6 mb-lg-11">
								<div class="imgHolder mb-4">
									<a href="single-works.html">
										<img src="http://placehold.it/365x290" class="img-fluid w-100 d-block" alt="image description">
									</a>
								</div>
								<h2 class="mb-1">
									<a href="single-works.html">Daniel Henry Khanweiler autumn, 1930</a>
								</h2>
								<h3 class="text-gray777 fontBase">Tankha Atska</h3>
							</article>
						</div>
						<div class="mimItem col-12 col-sm-6 col-md-4">
							<!-- collectionColumn -->
							<article class="collectionColumn mb-6 mb-lg-11">
								<div class="imgHolder mb-4">
									<a href="single-works.html">
										<img src="http://placehold.it/365x480" class="img-fluid w-100 d-block" alt="image description">
									</a>
								</div>
								<h2 class="mb-1">
									<a href="single-works.html">Germanian Grothery, 1986</a>
								</h2>
								<h3 class="text-gray777 fontBase">Henry Merparlo</h3>
							</article>
						</div>
						<div class="mimItem col-12 col-sm-6 col-md-4">
							<!-- collectionColumn -->
							<article class="collectionColumn mb-6 mb-lg-11">
								<div class="imgHolder mb-4">
									<a href="single-works.html">
										<img src="http://placehold.it/365x330" class="img-fluid w-100 d-block" alt="image description">
									</a>
								</div>
								<h2 class="mb-1">
									<a href="single-works.html">The Yellow House (The Street Night), 1888</a>
								</h2>
								<h3 class="text-gray777 fontBase">Linda M. Dugan</h3>
							</article>
						</div>
						<div class="mimItem col-12 col-sm-6 col-md-4">
							<!-- collectionColumn -->
							<article class="collectionColumn mb-6 mb-lg-11">
								<div class="imgHolder mb-4">
									<a href="single-works.html">
										<img src="http://placehold.it/365x530" class="img-fluid w-100 d-block" alt="image description">
									</a>
								</div>
								<h2 class="mb-1">
									<a href="single-works.html">Landscape with a Stack of Peat and Farm houses, 1852</a>
								</h2>
								<h3 class="text-gray777 fontBase">Linda M. Dugan</h3>
							</article>
						</div>
						<div class="mimItem col-12 col-sm-6 col-md-4">
							<!-- collectionColumn -->
							<article class="collectionColumn mb-6 mb-lg-11">
								<div class="imgHolder mb-4">
									<a href="single-works.html">
										<img src="http://placehold.it/365x490" class="img-fluid w-100 d-block" alt="image description">
									</a>
								</div>
								<h2 class="mb-1">
									<a href="single-works.html">Daniel Henry Khanweiler autumn, 1930</a>
								</h2>
								<h3 class="text-gray777 fontBase">Tommy Martinez</h3>
							</article>
						</div>
						<div class="mimItem col-12 col-sm-6 col-md-4">
							<!-- collectionColumn -->
							<article class="collectionColumn mb-6 mb-lg-11">
								<div class="imgHolder mb-4">
									<a href="single-works.html">
										<img src="http://placehold.it/365x340" class="img-fluid w-100 d-block" alt="image description">
									</a>
								</div>
								<h2 class="mb-1">
									<a href="single-works.html">Germanian Grothery, 1986</a>
								</h2>
								<h3 class="text-gray777 fontBase">Claude K. Amadeo</h3>
							</article>
						</div>
					</div>
					<!-- btnWrap -->
					<footer class="btnWrap text-center">
						<a href="single-works.html" class="btn btnGre5 btnGre5Outline bdr2 btnLgMinWidth">Explore All Collections</a>
					</footer>
				</div>
			</section>
			<!-- supportUsBlock -->
			<section class="supportUsBlock hasBdr bg-grayf8f8f8 pt-6 pb-1 pt-md-11 pb-md-5 pt-lg-16 pb-lg-10 pt-xl-22 pb-xl-16">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-4">
							<!-- subFeatureColumn -->
							<article class="subFeatureColumn text-center mb-6 px-xl-6">
								<span class="icnWrap animItVi d-flex align-items-center mb-3 mb-lg-7">
									<span class="d-block w-100">
										<img src="images/icn04.svg" width="78" height="85" class="img-fluid" alt="icon">
									</span>
								</span>
								<h2 class="mb-2 mb-lg-4">Learn</h2>
								<p class="mb-4 mb-lg-7">Various type of internship programs available for students.</p>
								<a href="javascript:void(0);" class="btn btn-outline-dark align-top btnMdMinWidth bdr2">Internship</a>
							</article>
						</div>
						<div class="col-12 col-md-4">
							<!-- subFeatureColumn -->
							<article class="subFeatureColumn text-center mb-6 px-xl-6">
								<span class="icnWrap animItVi d-flex align-items-center mb-3 mb-lg-7">
									<span class="d-block w-100">
										<img src="images/icn05.svg" width="74" height="78" class="img-fluid" alt="icon">
									</span>
								</span>
								<h2 class="mb-2 mb-lg-4">Donate</h2>
								<p class="mb-4 mb-lg-7">Our Memberships provide wonderful benefits and supports.</p>
								<a href="javascript:void(0);" class="btn btn-outline-dark align-top btnMdMinWidth bdr2">Make a Gift</a>
							</article>
						</div>
						<div class="col-12 col-md-4">
							<!-- subFeatureColumn -->
							<article class="subFeatureColumn text-center mb-6 px-xl-6">
								<span class="icnWrap animItVi d-flex align-items-center mb-3 mb-lg-7">
									<span class="d-block w-100">
										<img src="images/icn06.svg" width="78" height="75" class="img-fluid" alt="icon">
									</span>
								</span>
								<h2 class="mb-2 mb-lg-4">Experience</h2>
								<p class="mb-4 mb-lg-7">The ideal year-round location to host your wedding or special event.</p>
								<a href="javascript:void(0);" class="btn btn-outline-dark align-top btnMdMinWidth bdr2">Host Event</a>
							</article>
						</div>
					</div>
				</div>
			</section>
			<!-- sponsorsAside -->
			<aside class="sponsorsAside bg-secondary text-white pt-5 pb-5 pt-md-8 pb-md-8 pt-lg-13 pb-lg-13 pt-xl-20 pb-xl-19">
				<div class="container">
					<!-- topHeadingHead -->
					<header class="topHeadingHead mb-6 mb-md-9 mb-lg-14">
						<strong class="tpHeadingTitle text-uppercase font-weight-normal d-block mb-3">Part of the Museum</strong>
						<h2 class="h2Medium text-white">Our Partners &amp; Sponsers</h2>
					</header>
					<!-- logosSlider -->
					<div class="logosSlider text-center">
						<div>
							<!-- spLogoWrap -->
							<div class="spLogoWrap w-100 d-flex align-items-center">
								<span class="d-block w-100 px-3">
									<img src="http://placehold.it/150x100" class="img-fluid" alt="greateVillage">
								</span>
							</div>
						</div>
						<div>
							<!-- spLogoWrap -->
							<div class="spLogoWrap w-100 d-flex align-items-center">
								<span class="d-block w-100 px-3">
									<img src="http://placehold.it/150x100" class="img-fluid" alt="dilly">
								</span>
							</div>
						</div>
						<div>
							<!-- spLogoWrap -->
							<div class="spLogoWrap w-100 d-flex align-items-center">
								<span class="d-block w-100 px-3">
									<img src="http://placehold.it/150x100" class="img-fluid" alt="walkers">
								</span>
							</div>
						</div>
						<div>
							<!-- spLogoWrap -->
							<div class="spLogoWrap w-100 d-flex align-items-center">
								<span class="d-block w-100 px-3">
									<img src="http://placehold.it/150x100" class="img-fluid" alt="hispster">
								</span>
							</div>
						</div>
						<div>
							<!-- spLogoWrap -->
							<div class="spLogoWrap w-100 d-flex align-items-center">
								<span class="d-block w-100 px-3">
									<img src="http://placehold.it/150x100" class="img-fluid" alt="amelie">
								</span>
							</div>
						</div>
						<div>
							<!-- spLogoWrap -->
							<div class="spLogoWrap w-100 d-flex align-items-center">
								<span class="d-block w-100 px-3">
									<img src="http://placehold.it/150x100" class="img-fluid" alt="walkers">
								</span>
							</div>
						</div>
					</div>
				</div>
			</aside>
			<!-- saMap -->
			<aside class="saMap w-100 position-relative">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3117.259425640003!2d-90.29593598438974!3d38.61991257085702!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87d8b57b271310d3%3A0x53ff7568884d5d00!2sKnox%20Industrial%20Dr%2C%20St.%20Louis%2C%20MO%2063139%2C%20USA!5e0!3m2!1sen!2s!4v1587836825553!5m2!1sen!2s" class="w-100 h-100 d-block border-0 position-absolute" aria-hidden="false" tabindex="0"></iframe>
			</aside>
			<!-- newsletterAside -->
			<aside class="newsletterAside text-center pt-6 pb-6 pt-md-8 pb-md-8 pt-lg-13 pb-lg-13 pt-xl-21 pb-xl-20">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
							<!-- topHeadingHead -->
							<header class="topHeadingHead mb-5 mb-md-10">
								<strong class="tpHeadingTitle text-uppercase font-weight-normal d-block mb-3 mb-md-6">Stay in Touch</strong>
								<h2>Join our email list and be the first to know about special events and more!</h2>
							</header>
						</div>
					</div>
					<form action="#">
						<div class="form-row justify-content-center mx-n2">
							<div class="form-group px-2 mb-2">
								<input type="text" class="form-control d-block" placeholder="Your Name">
							</div>
							<div class="form-group px-2 mb-2">
								<input type="email" class="form-control d-block" placeholder="Your Email Address">
							</div>
							<div class="form-group px-2 mb-2">
								<input type="submit" class="btn btn-secondary text-uppercase" value="sign up!">
							</div>
						</div>
					</form>
				</div>
			</aside>
		</main>