<main>
			<!-- simpleBlock -->
			<article class="simpleBlock">
				<div class="container">
					<!-- simBoxImageSlider -->
					<div class="simBoxImageSlider">
						<div>
							<!-- sbisColumn -->
							<div class="sbisColumn position-relative">
								<div class="imgHolder">
									<img src="http://placehold.it/1170x600" class="img-fluid imgFit w-100 h-100" alt="image description">
								</div>
								<div class="sbisCaption bg-white position-absolute w-100 pt-3 px-3 pb-3 pt-md-7 px-md-6 pb-md-8">
									<h1 class="mb-4">Living Proof: Drawing in 18th-Century</h1>
									<time datetime="2011-01-12" class="d-block text-gray777">Onview Through 26 May 2019</time>
								</div>
							</div>
						</div>
						<div>
							<!-- sbisColumn -->
							<div class="sbisColumn position-relative">
								<div class="imgHolder">
									<img src="http://placehold.it/1170x600" class="img-fluid w-100 h-100" alt="image description">
								</div>
								<div class="sbisCaption bg-white position-absolute w-100 pt-3 px-3 pb-3 pt-md-7 px-md-6 pb-md-8">
									<h1 class="mb-4">Living Proof: Drawing in 18th-Century</h1>
									<time datetime="2011-01-12" class="d-block text-gray777">Onview Through 26 May 2019</time>
								</div>
							</div>
						</div>
						<div>
							<!-- sbisColumn -->
							<div class="sbisColumn position-relative">
								<div class="imgHolder">
									<img src="http://placehold.it/1170x600" class="img-fluid w-100 h-100" alt="image description">
								</div>
								<div class="sbisCaption bg-white position-absolute w-100 pt-3 px-3 pb-3 pt-md-7 px-md-6 pb-md-8">
									<h1 class="mb-4">Living Proof: Drawing in 18th-Century</h1>
									<time datetime="2011-01-12" class="d-block text-gray777">Onview Through 26 May 2019</time>
								</div>
							</div>
						</div>
						<div>
							<!-- sbisColumn -->
							<div class="sbisColumn position-relative">
								<div class="imgHolder">
									<img src="http://placehold.it/1170x600" class="img-fluid w-100 h-100" alt="image description">
								</div>
								<div class="sbisCaption bg-white position-absolute w-100 pt-3 px-3 pb-3 pt-md-7 px-md-6 pb-md-8">
									<h1 class="mb-4">Living Proof: Drawing in 18th-Century</h1>
									<time datetime="2011-01-12" class="d-block text-gray777">Onview Through 26 May 2019</time>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
			<!-- simpleExhibitBlock -->
			<section class="simpleExhibitBlock pt-10 pt-md-20 pt-lg-30 pt-xl-37">
				<div class="container">
					<!-- headHeading -->
					<header class="headHeading text-center mb-7 mb-lg-12">
						<h1>Exhibitions</h1>
					</header>
					<!-- avieColumnWrap -->
					<div class="avieColumnWrap overflow-hidden">
						<div class="acwColI acwColLarge float-left position-relative w-100">
							<!-- currExibitColumn -->
							<article class="currExibitColumn mb-6 mx-auto">
								<div class="imgHolder mb-3 mb-lg-7">
									<a href="single-exhibition.html">
										<img src="http://placehold.it/365x270" class="img-fluid w-100 d-block" alt="image description">
									</a>
								</div>
								<h2 class="mb-3">
									<a href="single-exhibition.html">Mutiny: Works by Géricault</a>
								</h2>
								<time datetime="2011-01-12" class="d-block cecTime text-gray777">13 Oct 2018 - 15 Feb 2019</time>
							</article>
						</div>
						<div class="acwColII acwColSmall float-right position-relative w-100">
							<!-- currExibitColumn -->
							<article class="currExibitColumn mb-6 mx-auto">
								<div class="imgHolder mb-3 mb-lg-7">
									<a href="single-exhibition.html">
										<img src="http://placehold.it/365x270" class="img-fluid w-100 d-block" alt="image description">
									</a>
								</div>
								<h2 class="mb-3">
									<a href="single-exhibition.html">Mutiny: Works by Géricault</a>
								</h2>
								<time datetime="2011-01-12" class="d-block cecTime text-gray777">13 Oct 2018 - 15 Feb 2019</time>
							</article>
						</div>
						<div class="acwColIII acwColSmall float-left position-relative w-100">
							<!-- currExibitColumn -->
							<article class="currExibitColumn mb-6 mx-auto">
								<div class="imgHolder mb-3 mb-lg-7">
									<a href="single-exhibition.html">
										<img src="http://placehold.it/365x270" class="img-fluid w-100 d-block" alt="image description">
									</a>
								</div>
								<h2 class="mb-3">
									<a href="single-exhibition.html">Mutiny: Works by Géricault</a>
								</h2>
								<time datetime="2011-01-12" class="d-block cecTime text-gray777">13 Oct 2018 - 15 Feb 2019</time>
							</article>
						</div>
						<div class="acwColIV acwColLarge float-right position-relative w-100">
							<!-- currExibitColumn -->
							<article class="currExibitColumn mb-6 mx-auto">
								<div class="imgHolder mb-3 mb-lg-7">
									<a href="single-exhibition.html">
										<img src="http://placehold.it/365x270" class="img-fluid w-100 d-block" alt="image description">
									</a>
								</div>
								<h2 class="mb-3">
									<a href="single-exhibition.html">Mutiny: Works by Géricault</a>
								</h2>
								<time datetime="2011-01-12" class="d-block cecTime text-gray777">13 Oct 2018 - 15 Feb 2019</time>
							</article>
						</div>
						<div class="acwColV acwColLarge float-left position-relative w-100">
							<!-- currExibitColumn -->
							<article class="currExibitColumn mb-6 mx-auto">
								<div class="imgHolder mb-3 mb-lg-7">
									<a href="single-exhibition.html">
										<img src="http://placehold.it/365x270" class="img-fluid w-100 d-block" alt="image description">
									</a>
								</div>
								<h2 class="mb-3">
									<a href="single-exhibition.html">Mutiny: Works by Géricault</a>
								</h2>
								<time datetime="2011-01-12" class="d-block cecTime text-gray777">13 Oct 2018 - 15 Feb 2019</time>
							</article>
						</div>
						<div class="acwColVI acwColSmall float-right position-relative w-100">
							<!-- currExibitColumn -->
							<article class="currExibitColumn mb-6 mx-auto">
								<div class="imgHolder mb-3 mb-lg-7">
									<a href="single-exhibition.html">
										<img src="http://placehold.it/365x270" class="img-fluid w-100 d-block" alt="image description">
									</a>
								</div>
								<h2 class="mb-3">
									<a href="single-exhibition.html">Mutiny: Works by Géricault</a>
								</h2>
								<time datetime="2011-01-12" class="d-block cecTime text-gray777">13 Oct 2018 - 15 Feb 2019</time>
							</article>
						</div>
					</div>
				</div>
			</section>
			<!-- upcomingEveBlock -->
			<section class="upcomingEveBlock pt-10 pt-md-20 pb-6 pt-lg-30 pt-xl-37 pb-md-10 pb-lg-14 pb-xl-18">
				<div class="container">
					<!-- topHeadingHead -->
					<header class="topHeadingHead text-center mb-7 mb-lg-12">
						<h1>Upcoming Events</h1>
					</header>
					<div class="row mx-xl-n4 d-block pl-lg-21 pr-lg-16 pr-xlwd-0 pt-2">
						<!-- currOnviewSliderIII -->
						<div class="currOnviewSliderIII">
							<div>
								<div class="col-12">
									<!-- ueEveColumn -->
									<article class="ueEveColumn d-sm-flex w-100 position-relative border mb-6 mb-lg-10">
										<time datetime="2011-01-12" class="ueecTimeTag position-absolute text-uppercase d-flex bg-white text-secondary">
											<strong class="day d-flex align-items-center font-weight-normal bg-warning text-white px-1">03</strong>
											<span class="d-flex align-items-center px-2">MAR 2019</span>
										</time>
										<div class="imgHolder flex-shrink-0">
											<img src="http://placehold.it/270x240" class="w-100 h-100 imgFit" alt="image description">
										</div>
										<div class="descrWrap pt-5 pb-7 pl-5 pr-3">
											<h2 class="h2Small h2SmallViv mb-2">
												<a href="#">Rojo Y Negro Latin American Art</a>
											</h2>
											<address class="mb-6"><time datetime="2011-01-12">12:00pm - 5:00pm</time><span>/</span>Western Avenue, Allston, MA</address>
											<a href="#" class="btn btnGre5 btnGre5Outline bdr2 btnSmMinWidth btn-sm">Details</a>
										</div>
									</article>
								</div>
							</div>
							<div>
								<div class="col-12">
									<!-- ueEveColumn -->
									<article class="ueEveColumn d-sm-flex w-100 position-relative border mb-6 mb-lg-10">
										<time datetime="2011-01-12" class="ueecTimeTag position-absolute text-uppercase d-flex bg-white text-secondary">
											<strong class="day d-flex align-items-center font-weight-normal bg-warning text-white px-1">03</strong>
											<span class="d-flex align-items-center px-2">MAR 2019</span>
										</time>
										<div class="imgHolder flex-shrink-0">
											<img src="http://placehold.it/270x240" class="w-100 h-100 imgFit" alt="image description">
										</div>
										<div class="descrWrap pt-5 pb-7 pl-5 pr-3">
											<h2 class="h2Small h2SmallViv mb-2">
												<a href="#">Rojo Y Negro Latin American Art</a>
											</h2>
											<address class="mb-6"><time datetime="2011-01-12">12:00pm - 5:00pm</time><span>/</span>Western Avenue, Allston, MA</address>
											<a href="#" class="btn btnGre5 btnGre5Outline bdr2 btnSmMinWidth btn-sm">Details</a>
										</div>
									</article>
								</div>
							</div>
							<div>
								<div class="col-12">
									<!-- ueEveColumn -->
									<article class="ueEveColumn d-sm-flex w-100 position-relative border mb-6 mb-lg-10">
										<time datetime="2011-01-12" class="ueecTimeTag position-absolute text-uppercase d-flex bg-white text-secondary">
											<strong class="day d-flex align-items-center font-weight-normal bg-warning text-white px-1">03</strong>
											<span class="d-flex align-items-center px-2">MAR 2019</span>
										</time>
										<div class="imgHolder flex-shrink-0">
											<img src="http://placehold.it/270x240" class="w-100 h-100 imgFit" alt="image description">
										</div>
										<div class="descrWrap pt-5 pb-7 pl-5 pr-3">
											<h2 class="h2Small h2SmallViv mb-2">
												<a href="#">Rojo Y Negro Latin American Art</a>
											</h2>
											<address class="mb-6"><time datetime="2011-01-12">12:00pm - 5:00pm</time><span>/</span>Western Avenue, Allston, MA</address>
											<a href="#" class="btn btnGre5 btnGre5Outline bdr2 btnSmMinWidth btn-sm">Details</a>
										</div>
									</article>
								</div>
							</div>
						</div>
					</div>
					<!-- btnHolder -->
					<footer class="btnHolder text-center">
						<a href="single-events.html" class="d-inline-block align-top teeSeeAllBtn mt-2">See All Exhibitions <i class="icomoon-arrowCircleRight align-middle icn ml-1"><span class="sr-only">icon</span></i></a>
					</footer>
				</div>
			</section>
			<!-- becomeMemberBlock -->
			<article class="becomeMemberBlock text-center text-gray888 pt-6 pb-6 pt-md-9 pb-md-9 pt-lg-12 pb-lg-12 pt-xl-20 pb-xl-20">
				<div class="container">
					<div class="bg-secondary">
						<div class="row">
							<div class="col-12 col-md-6 d-flex">
								<div class="imgHolder mr-md-n3">
									<img src="http://placehold.it/585x450" class="img-fluid imgFit" alt="image description">
								</div>
							</div>
							<div class="col-12 col-md-6 d-flex align-items-center">
								<div class="bmbHolder py-6 px-5 px-lg-10 ml-n3">
									<h2 class="h2Medium text-white mb-3">Become a Member</h2>
									<p class="mb-9">Become a member of the art &amp; history museum, show your support, and receive a range of year-round all membership benefits.</p>
									<a href="javascript:void(0);" class="btn btnBrown btnMdMinWidth">Learn More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
			<!-- discoverBlock -->
			<section class="discoverBlock pt-4 pt-lg-10 pt-xl-18 pb-5 pb-lg-8 pb-xl-13">
				<div class="container">
					<!-- topHeadingHead -->
					<header class="topHeadingHead text-center mb-7 mb-lg-12">
						<h1>Discover More</h1>
					</header>
					<div class="row mx-xl-n4">
						<div class="col-12 col-sm-6 col-md-4 px-xl-4">
							<!-- fomColumn -->
							<a href="javascript:void(0);" class="fomColumn overflow-hidden d-flex align-items-end position-relative w-100 bgCover mb-6 mb-xl-8">
								<div class="fomCaption position-relative py-3 px-3 py-lg-5 px-lg-6">
									<h2 class="fontBase mb-0 text-white">Plan your Visit</h2>
								</div>
								<span class="bgCover position-absolute" style="background-image: url(http://placehold.it/365x200);"></span>
							</a>
						</div>
						<div class="col-12 col-sm-6 col-md-4 px-xl-4">
							<!-- fomColumn -->
							<a href="javascript:void(0);" class="fomColumn overflow-hidden d-flex align-items-end position-relative w-100 bgCover mb-6 mb-xl-8">
								<div class="fomCaption position-relative py-3 px-3 py-lg-5 px-lg-6">
									<h2 class="fontBase mb-0 text-white">Education</h2>
								</div>
								<span class="bgCover position-absolute" style="background-image: url(http://placehold.it/365x200);"></span>
							</a>
						</div>
						<div class="col-12 col-sm-6 col-md-4 px-xl-4">
							<!-- fomColumn -->
							<a href="javascript:void(0);" class="fomColumn overflow-hidden d-flex align-items-end position-relative w-100 bgCover mb-6 mb-xl-8">
								<div class="fomCaption position-relative py-3 px-3 py-lg-5 px-lg-6">
									<h2 class="fontBase mb-0 text-white">Museum Cafe</h2>
								</div>
								<span class="bgCover position-absolute" style="background-image: url(http://placehold.it/365x200);"></span>
							</a>
						</div>
					</div>
				</div>
			</section>
			<!-- aboutExploreAside -->
			<article class="aboutExploreAside d-flex w-100 text-center">
				<div class="aeaHolder d-flex align-items-center w-100">
					<div class="container py-7">
						<div class="row">
							<div class="col-12 col-md-8 offset-md-2">
								<strong class="d-block title text-uppercase font-weight-normal mb-3">About Muzze</strong>
								<!-- eabDescrText -->
								<div class="eabDescrText eabDescrTextIII fontSerif">
									<p class="mb-8">The Art Institute of Melbourne collects, preserves, and interprets works of art of the highest quality, representing the world’s diverse artistic traditions, for the inspiration.</p>
								</div>
								<a href="javascript:void(0);" class="btn btn-outline-dark bdr2 btnMdMinWidth">Explore More</a>
							</div>
						</div>
					</div>
				</div>
			</article>
			<!-- instaFeedBlock -->
			<section class="instaFeedBlock text-center bg-secondary pt-5 pb-5 pt-md-8 pb-md-8 pt-lg-9 pb-lg-13 pt-xl-14 pb-xl-19">
				<div class="container">
					<h2 class="text-white mb-5 mb-lg-8 mb-xl-13">Instagram @ <a href="javascript:void(0);" class="textDecorationNone">Muzze Museum</a></h2>
					<div class="row d-block mx-n2">
						<!-- instaFullFeedSlider -->
						<div class="instaFullFeedSlider">
							<div>
								<a href="javascript:void(0);" class="d-block px-2 instaPoster position-relative">
									<img src="http://placehold.it/180x160" class="img-fluid" alt="image descripton">
									<i class="fab fa-instagram hovIcn position-absolute w-100 h-100 d-flex align-items-center justify-content-center text-white inaccessible"><span class="sr-only">icon</span></i>
								</a>
							</div>
							<div>
								<a href="javascript:void(0);" class="d-block px-2 instaPoster position-relative">
									<img src="http://placehold.it/180x160" class="img-fluid" alt="image descripton">
									<i class="fab fa-instagram hovIcn position-absolute w-100 h-100 d-flex align-items-center justify-content-center text-white inaccessible"><span class="sr-only">icon</span></i>
								</a>
							</div>
							<div>
								<a href="javascript:void(0);" class="d-block px-2 instaPoster position-relative">
									<img src="http://placehold.it/180x160" class="img-fluid" alt="image descripton">
									<i class="fab fa-instagram hovIcn position-absolute w-100 h-100 d-flex align-items-center justify-content-center text-white inaccessible"><span class="sr-only">icon</span></i>
								</a>
							</div>
							<div>
								<a href="javascript:void(0);" class="d-block px-2 instaPoster position-relative">
									<img src="http://placehold.it/180x160" class="img-fluid" alt="image descripton">
									<i class="fab fa-instagram hovIcn position-absolute w-100 h-100 d-flex align-items-center justify-content-center text-white inaccessible"><span class="sr-only">icon</span></i>
								</a>
							</div>
							<div>
								<a href="javascript:void(0);" class="d-block px-2 instaPoster position-relative">
									<img src="http://placehold.it/180x160" class="img-fluid" alt="image descripton">
									<i class="fab fa-instagram hovIcn position-absolute w-100 h-100 d-flex align-items-center justify-content-center text-white inaccessible"><span class="sr-only">icon</span></i>
								</a>
							</div>
							<div>
								<a href="javascript:void(0);" class="d-block px-2 instaPoster position-relative">
									<img src="http://placehold.it/180x160" class="img-fluid" alt="image descripton">
									<i class="fab fa-instagram hovIcn position-absolute w-100 h-100 d-flex align-items-center justify-content-center text-white inaccessible"><span class="sr-only">icon</span></i>
								</a>
							</div>
							<div>
								<a href="javascript:void(0);" class="d-block px-2 instaPoster position-relative">
									<img src="http://placehold.it/180x160" class="img-fluid" alt="image descripton">
									<i class="fab fa-instagram hovIcn position-absolute w-100 h-100 d-flex align-items-center justify-content-center text-white inaccessible"><span class="sr-only">icon</span></i>
								</a>
							</div>
							<div>
								<a href="javascript:void(0);" class="d-block px-2 instaPoster position-relative">
									<img src="http://placehold.it/180x160" class="img-fluid" alt="image descripton">
									<i class="fab fa-instagram hovIcn position-absolute w-100 h-100 d-flex align-items-center justify-content-center text-white inaccessible"><span class="sr-only">icon</span></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>