<main>
			<!-- hmFullLinkingNav -->
			<nav class="hmFullLinkingNav position-fixed">
				<ul class="list-unstyled">
					<li class="active">
						<a href="#scrollTo01"><span class="sr-only">section 1</span></a>
					</li>
					<li>
						<a href="#scrollTo02"><span class="sr-only">section 2</span></a>
					</li>
					<li>
						<a href="#scrollTo03"><span class="sr-only">section 3</span></a>
					</li>
					<li>
						<a href="#scrollTo04"><span class="sr-only">section 4</span></a>
					</li>
					<li>
						<a href="#scrollTo05"><span class="sr-only">section 5</span></a>
					</li>
				</ul>
			</nav>
			<!-- introBannerFullBlock -->
			<section id="scrollTo01" class="introBannerFullBlock overlayDbl position-relative w-100 d-flex text-white bgCover" style="background-image: url(http://placehold.it/1920x900);">
				<div class="ibfbAlignHolder position-relative w-100 d-flex align-items-end">
					<div class="container pb-6 pb-md-10 pb-lg-16 pb-xl-23 pt-18 pt-lg-26 pt-xl-29">
						<div class="row">
							<div class="col-12 col-md-8">
								<strong class="font-weight-normal d-block ibfbText mb-3">Upcoming Exhibition</strong>
								<h1 class="text-white ibbHeading mb-6">Joey Frank: <br>Seeker An The Trick</h1>
								<time datetime="2011-01-12" class="d-block ibfbText">From 13 Oct 2018 Until 15 Feb 2019</time>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- introBannerFullBlock -->
			<section id="scrollTo02" class="introBannerFullBlock position-relative w-100 d-flex text-white bgCover" style="background-image: url(http://placehold.it/1920x900);">
				<div class="ibfbAlignHolder position-relative w-100 d-flex align-items-end">
					<div class="container pb-6 pb-md-10 pb-lg-16 pb-xl-23 pt-18 pt-lg-26 pt-xl-29">
						<div class="row">
							<div class="col-12 col-md-8">
								<strong class="font-weight-normal d-block ibfbText mb-3">Currently Onview</strong>
								<h1 class="text-white ibbHeading mb-6">Berthe Morisot: <br>Woman Impressionist</h1>
								<time datetime="2011-01-12" class="d-block ibfbText">Until January 14, 2019</time>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- introBannerFullBlock -->
			<section id="scrollTo03" class="introBannerFullBlock position-relative w-100 d-flex text-white bgCover" style="background-image: url(http://placehold.it/1920x900);">
				<div class="ibfbAlignHolder position-relative w-100 d-flex align-items-end">
					<div class="container pb-6 pb-md-10 pb-lg-16 pb-xl-23 pt-18 pt-lg-26 pt-xl-29">
						<div class="row">
							<div class="col-12 col-md-8">
								<strong class="font-weight-normal d-block ibfbText mb-3">Special Event - May 14, 2019</strong>
								<h1 class="text-white ibbHeading mb-6">The Upstairs Room of a Art Taminiau</h1>
								<time datetime="2011-01-12" class="d-block ibfbText">12:00pm - 5:00pm <span class="px-2">/</span> Western Avenue, Allston, MA </time>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- introBannerFullBlock -->
			<section id="scrollTo04" class="introBannerFullBlock position-relative w-100 d-flex text-white bgCover" style="background-image: url(http://placehold.it/1920x900);">
				<div class="ibfbAlignHolder position-relative w-100 d-flex align-items-end">
					<div class="container pb-6 pb-md-10 pb-lg-16 pb-xl-23 pt-18 pt-lg-26 pt-xl-29">
						<div class="row">
							<div class="col-12 col-md-8">
								<strong class="font-weight-normal d-block ibfbText mb-3">Performance</strong>
								<h1 class="text-white ibbHeading mb-6">Rough Cut: Independent Japanese Antiquity</h1>
								<time datetime="2011-01-12" class="d-block ibfbText">From 13 Oct 2018 Until 15 Feb 2019</time>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- introBannerFullBlock -->
			<section id="scrollTo05" class="introBannerFullBlock position-relative w-100 d-flex text-white bgCover" style="background-image: url(http://placehold.it/1920x900);">
				<div class="ibfbAlignHolder position-relative w-100 d-flex align-items-end">
					<div class="container pb-6 pb-md-10 pb-lg-16 pb-xl-23 pt-18 pt-lg-26 pt-xl-29">
						<div class="row">
							<div class="col-12 col-md-8">
								<strong class="font-weight-normal d-block ibfbText mb-3">Current Exhibition</strong>
								<h1 class="text-white ibbHeading mb-6">Living Proof: Drawing in 20th-Century</h1>
								<time datetime="2011-01-12" class="d-block ibfbText">From 13 Oct 2018 Until 15 Feb 2019</time>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>