<main>
			<!-- introBannerBlock -->
			<section class="introBannerBlock ibbHasAside hdIsXi w-100 text-center text-white position-relative d-flex bgCover" style="background-image: url(http://placehold.it/1920x900);">
				<div class="ibbAlignHolder w-100 d-flex align-items-center">
					<div class="ibbHolder w-100 py-6">
						<div class="container holder position-relative">
							<div class="row">
								<div class="col-12 col-md-8 offset-md-2">
									<strong class="d-block fontSerif mainHeadingTitle font-weight-normal mb-4"><time datetime="2011-01-12">17-18 December, 2019</time>, Newyork</strong>
									<h1 class="text-white ibbHeading mb-8">Business Conference of Newyork-2019.</h1>
									<a href="javascript:void(0);" class="btn btn-dark btnDarkInverse align-top btnMdMinWidth">Register Now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- pattiAside -->
			<aside class="bg-gray1b1d1f text-white fontSerif text-center pattiAside pt-5 pb-5">
				<div class="container">
					<!-- eabDescrText -->
					<div class="eabDescrText eabDescrTextII">
						<p class="mb-0">17 - 18 December 2019 . Muzze Conference Hall, NY 93453 . 18 Talks . Awesome Speakers</p>
					</div>
				</div>
			</aside>
			<!-- topicsAboutBlock -->
			<article class="topicsAboutBlock pt-6 pb-6 pt-md-9 pb-md-9 pt-lg-13 pb-lg-13 pt-xl-21 pb-xl-21">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-4">
							<!-- imgHolder -->
							<div class="imgHolder text-center text-md-left mt-md-1 mb-4 mb-md-0">
								<img src="http://placehold.it/340x465" class="img-fluid" alt="image description">
							</div>
						</div>
						<div class="col-12 col-md-8">
							<h2 class="h2Medium mb-3">About The Conference</h2>
							<!-- eabDescrText -->
							<div class="eabDescrText text-gray777">
								<p>In event times those lemonades are nothing more than orchids a war of the tender doner chuck drumstick burgdoggen porchetta. Sausage turducken t-bone venison are ham hock buffalo capicola frank furter rump.</p>
							</div>
							<hr class="mt-6 mb-7">
							<h3 class="fontBase mb-5">Discussion Topics</h3>
							<div class="maxLstWrap">
								<!-- bulletList -->
								<ul class="list-unstyled bulletList listHasColumns text-gray777 mb-5">
									<li>Startup Idea</li>
									<li>Financial Stability</li>
									<li>User Experience</li>
									<li>Artificial Intelligence</li>
									<li>Vision of 2025</li>
									<li>Power Human Brain</li>
								</ul>
							</div>
							<a href="javascript:void(0);" class="btn btnGre5 btnGre5Outline bdr2 btnMdMinWidth">Buy Ticket Now</a>
						</div>
					</div>
				</div>
			</article>
			<!-- nextCounterAside -->
			<aside class="nextCounterAside text-center">
				<div class="container">
					<div class="container">
						<div class="rounded shadow bg-blueClr7 text-white pt-4 pb-4 pt-lg-7 pb-lg-7">
							<div id="defaultCountdown"></div>
						</div>
					</div>
				</div>
			</aside>
			<!-- checkScheduleBlock -->
			<section class="checkScheduleBlock pt-6 pt-md-9 pt-lg-13 pt-xl-22">
				<div class="container stickyContainer">
					<div class="row">
						<div class="col-12 col-lg-4">
							<!-- headHeading -->
							<header class="headHeading text-center text-lg-left mb-7 pr-xl-11 pt-3 stickyElem sceHeadStick sceHeadStickII">
								<h1 class="mb-6">Check The Schedule</h1>
								<div class="hhFzMedium hhFzMediumVvi text-gray777">
									<p class="mb-11">This is floting event schedule section you can check the details about time duration, speaker, venue &amp; more.</p>
								</div>
								<ul class="vtTabLinks text-center justify-content-center justify-content-start list-unstyled">
									<li>
										<a href="#day1">Day-1</a>
									</li>
									<li>
										<a href="#day2">Day-2</a>
									</li>
								</ul>
							</header>
						</div>
						<div class="col-12 col-lg-8">
							<div id="day1">
								<div class="scheBoxWrap border mb-7 mb-lg-14">
									<div class="tcsbHeadWrap bg-secondary text-white text-center fontSerif px-2 py-4">
										<time datetime="2011-01-12">Saturday, 17 December 2019</time>
									</div>
									<div class="accordion" id="ibitAccordionI">
										<div class="ibftRow px-3 pt-3 pb-3 px-lg-6 pt-lg-6 pb-lg-6">
											<div class="openerWrap position-relative d-sm-flex">
												<time datetime="2011-01-12" class="ibfOpenerTime text-secondary flex-shrink-0 mr-3 mr-lg-8 pt-3 pt-lg-5">11:00am</time>
												<button class="ibtbtOpener position-absolute" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"><i class="fas fa-chevron-down"><span class="sr-only">icon</span></i></button>
												<div class="descrWrap flex-grow-1">
													<div class="tpWrap w-100 d-flex">
														<div class="imgHolder flex-shrink-0 mr-2 mr-lg-4">
															<img src="http://placehold.it/85x80" class="img-fluid" alt="image description">
														</div>
														<div class="wrap">
															<h4 class="fontBase mb-2">Introduction Business</h4>
															<h5 class="fontBase">Tommy Martinez,  Co-Founder</h5>
															<div id="collapseOne" class="collapse" data-parent="#ibitAccordionI">
																<p>We care for more than 200 thousand exhibits spanning billions of years and welcome more than five million way visitors annually.</p>
																<a href="#" class="ftPinLink text-blueClr7 text-uppercase">
																	<i class="fas fa-map-marker-alt icn" aria-hidden="true"><span class="sr-only">icon</span></i>
																	Convention Center, Hilton Hotel 
																</a>
															</div>
														</div>
													</div>
													<div class="w-100">
													</div>
												</div>
											</div>
										</div>
										<div class="ibftRow px-3 pt-3 pb-3 px-lg-6 pt-lg-6 pb-lg-6">
											<div class="openerWrap position-relative d-sm-flex">
												<time datetime="2011-01-12" class="ibfOpenerTime text-secondary flex-shrink-0 mr-3 mr-lg-8 pt-3 pt-lg-5">12:30pm</time>
												<button class="ibtbtOpener position-absolute" type="button" data-toggle="collapse" data-target="#collapseII" aria-expanded="false" aria-controls="collapseII"><i class="fas fa-chevron-down"><span class="sr-only">icon</span></i></button>
												<div class="descrWrap flex-grow-1">
													<div class="tpWrap w-100 d-flex">
														<div class="imgHolder flex-shrink-0 mr-2 mr-lg-4">
															<img src="http://placehold.it/85x80" class="img-fluid" alt="image description">
														</div>
														<div class="wrap">
															<h4 class="fontBase mb-2">Innovation &amp; Technology</h4>
															<h5 class="fontBase">Linda M. Dugan, Director</h5>
															<div id="collapseII" class="collapse" data-parent="#ibitAccordionI">
																<p>We care for more than 200 thousand exhibits spanning billions of years and welcome more than five million way visitors annually.</p>
																<a href="#" class="ftPinLink text-blueClr7 text-uppercase">
																	<i class="fas fa-map-marker-alt icn" aria-hidden="true"><span class="sr-only">icon</span></i>
																	Convention Center, Hilton Hotel 
																</a>
															</div>
														</div>
													</div>
													<div class="w-100">
													</div>
												</div>
											</div>
										</div>
										<div class="ibftRow px-3 pt-3 pb-3 px-lg-6 pt-lg-6 pb-lg-6">
											<div class="openerWrap position-relative d-sm-flex">
												<time datetime="2011-01-12" class="ibfOpenerTime text-secondary flex-shrink-0 mr-3 mr-lg-8 pt-3 pt-lg-5">1:00pm</time>
												<button class="ibtbtOpener position-absolute" type="button" data-toggle="collapse" data-target="#collapseIII" aria-expanded="false" aria-controls="collapseIII"><i class="fas fa-chevron-down"><span class="sr-only">icon</span></i></button>
												<div class="descrWrap flex-grow-1">
													<div class="tpWrap w-100 d-flex">
														<div class="imgHolder flex-shrink-0 mr-2 mr-lg-4">
															<img src="http://placehold.it/85x80" class="img-fluid" alt="image description">
														</div>
														<div class="wrap">
															<h4 class="fontBase mb-2">Small Usability for Start-ups</h4>
															<h5 class="fontBase">Tankha Atska, HR Manager</h5>
															<div id="collapseIII" class="collapse" data-parent="#ibitAccordionI">
																<p>We care for more than 200 thousand exhibits spanning billions of years and welcome more than five million way visitors annually.</p>
																<a href="#" class="ftPinLink text-blueClr7 text-uppercase">
																	<i class="fas fa-map-marker-alt icn" aria-hidden="true"><span class="sr-only">icon</span></i>
																	Convention Center, Hilton Hotel 
																</a>
															</div>
														</div>
													</div>
													<div class="w-100">
													</div>
												</div>
											</div>
										</div>
										<div class="ibftRow px-3 pt-3 pb-3 px-lg-6 pt-lg-6 pb-lg-6">
											<div class="openerWrap position-relative d-sm-flex">
												<time datetime="2011-01-12" class="ibfOpenerTime text-secondary flex-shrink-0 mr-8">1:00pm</time>
												<div class="descrWrap flex-grow-1">
													<div class="tpWrap w-100 d-flex">
														<div class="imgHolder flex-shrink-0 mr-2 mr-lg-4">
															
														</div>
														<div class="wrap">
															<h4 class="fontBase mb-0">Lunch break</h4>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="ibftRow px-3 pt-3 pb-3 px-lg-6 pt-lg-6 pb-lg-6">
											<div class="openerWrap position-relative d-sm-flex">
												<time datetime="2011-01-12" class="ibfOpenerTime text-secondary flex-shrink-0 mr-3 mr-lg-8 pt-3 pt-lg-5">3:00pm</time>
												<button class="ibtbtOpener position-absolute" type="button" data-toggle="collapse" data-target="#collapseIv" aria-expanded="false" aria-controls="collapseIv"><i class="fas fa-chevron-down"><span class="sr-only">icon</span></i></button>
												<div class="descrWrap flex-grow-1">
													<div class="tpWrap w-100 d-flex">
														<div class="imgHolder flex-shrink-0 mr-2 mr-lg-4">
															<img src="http://placehold.it/85x80" class="img-fluid" alt="image description">
														</div>
														<div class="wrap">
															<h4 class="fontBase mb-2">Managing Business Relationship</h4>
															<h5 class="fontBase">Henry Merparlo, Developer</h5>
															<div id="collapseIv" class="collapse" data-parent="#ibitAccordionI">
																<p>We care for more than 200 thousand exhibits spanning billions of years and welcome more than five million way visitors annually.</p>
																<a href="#" class="ftPinLink text-blueClr7 text-uppercase">
																	<i class="fas fa-map-marker-alt icn" aria-hidden="true"><span class="sr-only">icon</span></i>
																	Convention Center, Hilton Hotel 
																</a>
															</div>
														</div>
													</div>
													<div class="w-100">
													</div>
												</div>
											</div>
										</div>
										<div class="ibftRow px-3 pt-3 pb-3 px-lg-6 pt-lg-6 pb-lg-6">
											<div class="openerWrap position-relative d-sm-flex">
												<time datetime="2011-01-12" class="ibfOpenerTime text-secondary flex-shrink-0 mr-3 mr-lg-8 pt-3 pt-lg-5">4:30pm</time>
												<button class="ibtbtOpener position-absolute" type="button" data-toggle="collapse" data-target="#collapseV" aria-expanded="false" aria-controls="collapseV"><i class="fas fa-chevron-down"><span class="sr-only">icon</span></i></button>
												<div class="descrWrap flex-grow-1">
													<div class="tpWrap w-100 d-flex">
														<div class="imgHolder flex-shrink-0 mr-2 mr-lg-4">
															<img src="http://placehold.it/85x80" class="img-fluid" alt="image description">
														</div>
														<div class="wrap">
															<h4 class="fontBase mb-2">Discussion: New Idea Creation</h4>
															<h5 class="fontBase">Nimrod Barshad, Analyst</h5>
															<div id="collapseV" class="collapse" data-parent="#ibitAccordionI">
																<p>We care for more than 200 thousand exhibits spanning billions of years and welcome more than five million way visitors annually.</p>
																<a href="#" class="ftPinLink text-blueClr7 text-uppercase">
																	<i class="fas fa-map-marker-alt icn" aria-hidden="true"><span class="sr-only">icon</span></i>
																	Convention Center, Hilton Hotel 
																</a>
															</div>
														</div>
													</div>
													<div class="w-100">
													</div>
												</div>
											</div>
										</div>
										<div class="ibftRow px-3 pt-3 pb-3 px-lg-6 pt-lg-6 pb-lg-6">
											<div class="openerWrap position-relative d-sm-flex">
												<time datetime="2011-01-12" class="ibfOpenerTime text-secondary flex-shrink-0 mr-3 mr-lg-8 pt-3 pt-lg-5">6:15pm</time>
												<button class="ibtbtOpener position-absolute" type="button" data-toggle="collapse" data-target="#collapseV2" aria-expanded="false" aria-controls="collapseV2"><i class="fas fa-chevron-down"><span class="sr-only">icon</span></i></button>
												<div class="descrWrap flex-grow-1">
													<div class="tpWrap w-100 d-flex">
														<div class="imgHolder flex-shrink-0 mr-2 mr-lg-4">
															<img src="http://placehold.it/85x80" class="img-fluid" alt="image description">
														</div>
														<div class="wrap">
															<h4 class="fontBase mb-2">Achieveing Business Goal</h4>
															<h5 class="fontBase">K. Amadeo, Chairman</h5>
															<div id="collapseV2" class="collapse" data-parent="#ibitAccordionI">
																<p>We care for more than 200 thousand exhibits spanning billions of years and welcome more than five million way visitors annually.</p>
																<a href="#" class="ftPinLink text-blueClr7 text-uppercase">
																	<i class="fas fa-map-marker-alt icn" aria-hidden="true"><span class="sr-only">icon</span></i>
																	Convention Center, Hilton Hotel 
																</a>
															</div>
														</div>
													</div>
													<div class="w-100">
													</div>
												</div>
											</div>
										</div>
										<div class="ibftRow px-3 pt-3 pb-3 px-lg-6 pt-lg-6 pb-lg-6">
											<div class="openerWrap position-relative d-sm-flex">
												<time datetime="2011-01-12" class="ibfOpenerTime text-secondary flex-shrink-0 mr-8">7:30pm</time>
												<div class="descrWrap flex-grow-1">
													<div class="tpWrap w-100 d-flex">
														<div class="imgHolder flex-shrink-0 mr-2 mr-lg-4">
															
														</div>
														<div class="wrap">
															<h4 class="fontBase mb-0">Cocktail and networking</h4>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div id="day2">
								<div class="scheBoxWrap border mb-7 mb-lg-14">
									<div class="tcsbHeadWrap bg-secondary text-white text-center fontSerif px-2 py-4">
										<time datetime="2011-01-12">Sunday, 18 December 2019</time>
									</div>
									<div class="accordion" id="ibitAccordionII">
										<div class="ibftRow px-3 pt-3 pb-3 px-lg-6 pt-lg-6 pb-lg-6">
											<div class="openerWrap position-relative d-sm-flex">
												<time datetime="2011-01-12" class="ibfOpenerTime text-secondary flex-shrink-0 mr-3 mr-lg-8 pt-3 pt-lg-5">11:00am</time>
												<button class="ibtbtOpener position-absolute" type="button" data-toggle="collapse" data-target="#collapseUUI" aria-expanded="false" aria-controls="collapseUUI"><i class="fas fa-chevron-down"><span class="sr-only">icon</span></i></button>
												<div class="descrWrap flex-grow-1">
													<div class="tpWrap w-100 d-flex">
														<div class="imgHolder flex-shrink-0 mr-2 mr-lg-4">
															<img src="http://placehold.it/85x80" class="img-fluid" alt="image description">
														</div>
														<div class="wrap">
															<h4 class="fontBase mb-2">Introduction Business</h4>
															<h5 class="fontBase">Tommy Martinez,  Co-Founder</h5>
															<div id="collapseUUI" class="collapse" data-parent="#ibitAccordionII">
																<p>We care for more than 200 thousand exhibits spanning billions of years and welcome more than five million way visitors annually.</p>
																<a href="#" class="ftPinLink text-blueClr7 text-uppercase">
																	<i class="fas fa-map-marker-alt icn" aria-hidden="true"><span class="sr-only">icon</span></i>
																	Convention Center, Hilton Hotel 
																</a>
															</div>
														</div>
													</div>
													<div class="w-100">
													</div>
												</div>
											</div>
										</div>
										<div class="ibftRow px-3 pt-3 pb-3 px-lg-6 pt-lg-6 pb-lg-6">
											<div class="openerWrap position-relative d-sm-flex">
												<time datetime="2011-01-12" class="ibfOpenerTime text-secondary flex-shrink-0 mr-3 mr-lg-8 pt-3 pt-lg-5">12:30pm</time>
												<button class="ibtbtOpener position-absolute" type="button" data-toggle="collapse" data-target="#collapseUUII" aria-expanded="false" aria-controls="collapseUUII"><i class="fas fa-chevron-down"><span class="sr-only">icon</span></i></button>
												<div class="descrWrap flex-grow-1">
													<div class="tpWrap w-100 d-flex">
														<div class="imgHolder flex-shrink-0 mr-2 mr-lg-4">
															<img src="http://placehold.it/85x80" class="img-fluid" alt="image description">
														</div>
														<div class="wrap">
															<h4 class="fontBase mb-2">Innovation &amp; Technology</h4>
															<h5 class="fontBase">Linda M. Dugan, Director</h5>
															<div id="collapseUUII" class="collapse" data-parent="#ibitAccordionII">
																<p>We care for more than 200 thousand exhibits spanning billions of years and welcome more than five million way visitors annually.</p>
																<a href="#" class="ftPinLink text-blueClr7 text-uppercase">
																	<i class="fas fa-map-marker-alt icn" aria-hidden="true"><span class="sr-only">icon</span></i>
																	Convention Center, Hilton Hotel 
																</a>
															</div>
														</div>
													</div>
													<div class="w-100">
													</div>
												</div>
											</div>
										</div>
										<div class="ibftRow px-3 pt-3 pb-3 px-lg-6 pt-lg-6 pb-lg-6">
											<div class="openerWrap position-relative d-sm-flex">
												<time datetime="2011-01-12" class="ibfOpenerTime text-secondary flex-shrink-0 mr-3 mr-lg-8 pt-3 pt-lg-5">1:00pm</time>
												<button class="ibtbtOpener position-absolute" type="button" data-toggle="collapse" data-target="#collapseUUIII" aria-expanded="false" aria-controls="collapseUUIII"><i class="fas fa-chevron-down"><span class="sr-only">icon</span></i></button>
												<div class="descrWrap flex-grow-1">
													<div class="tpWrap w-100 d-flex">
														<div class="imgHolder flex-shrink-0 mr-2 mr-lg-4">
															<img src="http://placehold.it/85x80" class="img-fluid" alt="image description">
														</div>
														<div class="wrap">
															<h4 class="fontBase mb-2">Small Usability for Start-ups</h4>
															<h5 class="fontBase">Tankha Atska, HR Manager</h5>
															<div id="collapseUUIII" class="collapse" data-parent="#ibitAccordionII">
																<p>We care for more than 200 thousand exhibits spanning billions of years and welcome more than five million way visitors annually.</p>
																<a href="#" class="ftPinLink text-blueClr7 text-uppercase">
																	<i class="fas fa-map-marker-alt icn" aria-hidden="true"><span class="sr-only">icon</span></i>
																	Convention Center, Hilton Hotel 
																</a>
															</div>
														</div>
													</div>
													<div class="w-100">
													</div>
												</div>
											</div>
										</div>
										<div class="ibftRow px-3 pt-3 pb-3 px-lg-6 pt-lg-6 pb-lg-6">
											<div class="openerWrap position-relative d-sm-flex">
												<time datetime="2011-01-12" class="ibfOpenerTime text-secondary flex-shrink-0 mr-8">1:00pm</time>
												<div class="descrWrap flex-grow-1">
													<div class="tpWrap w-100 d-flex">
														<div class="imgHolder flex-shrink-0 mr-2 mr-lg-4">
															
														</div>
														<div class="wrap">
															<h4 class="fontBase mb-0">Lunch break</h4>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="ibftRow px-3 pt-3 pb-3 px-lg-6 pt-lg-6 pb-lg-6">
											<div class="openerWrap position-relative d-sm-flex">
												<time datetime="2011-01-12" class="ibfOpenerTime text-secondary flex-shrink-0 mr-3 mr-lg-8 pt-3 pt-lg-5">3:00pm</time>
												<button class="ibtbtOpener position-absolute" type="button" data-toggle="collapse" data-target="#collapseUUIv" aria-expanded="false" aria-controls="collapseUUIv"><i class="fas fa-chevron-down"><span class="sr-only">icon</span></i></button>
												<div class="descrWrap flex-grow-1">
													<div class="tpWrap w-100 d-flex">
														<div class="imgHolder flex-shrink-0 mr-2 mr-lg-4">
															<img src="http://placehold.it/85x80" class="img-fluid" alt="image description">
														</div>
														<div class="wrap">
															<h4 class="fontBase mb-2">Managing Business Relationship</h4>
															<h5 class="fontBase">Henry Merparlo, Developer</h5>
															<div id="collapseUUIv" class="collapse" data-parent="#ibitAccordionII">
																<p>We care for more than 200 thousand exhibits spanning billions of years and welcome more than five million way visitors annually.</p>
																<a href="#" class="ftPinLink text-blueClr7 text-uppercase">
																	<i class="fas fa-map-marker-alt icn" aria-hidden="true"><span class="sr-only">icon</span></i>
																	Convention Center, Hilton Hotel 
																</a>
															</div>
														</div>
													</div>
													<div class="w-100">
													</div>
												</div>
											</div>
										</div>
										<div class="ibftRow px-3 pt-3 pb-3 px-lg-6 pt-lg-6 pb-lg-6">
											<div class="openerWrap position-relative d-sm-flex">
												<time datetime="2011-01-12" class="ibfOpenerTime text-secondary flex-shrink-0 mr-3 mr-lg-8 pt-3 pt-lg-5">4:30pm</time>
												<button class="ibtbtOpener position-absolute" type="button" data-toggle="collapse" data-target="#collapseUUV" aria-expanded="false" aria-controls="collapseUUV"><i class="fas fa-chevron-down"><span class="sr-only">icon</span></i></button>
												<div class="descrWrap flex-grow-1">
													<div class="tpWrap w-100 d-flex">
														<div class="imgHolder flex-shrink-0 mr-2 mr-lg-4">
															<img src="http://placehold.it/85x80" class="img-fluid" alt="image description">
														</div>
														<div class="wrap">
															<h4 class="fontBase mb-2">Discussion: New Idea Creation</h4>
															<h5 class="fontBase">Nimrod Barshad, Analyst</h5>
															<div id="collapseUUV" class="collapse" data-parent="#ibitAccordionII">
																<p>We care for more than 200 thousand exhibits spanning billions of years and welcome more than five million way visitors annually.</p>
																<a href="#" class="ftPinLink text-blueClr7 text-uppercase">
																	<i class="fas fa-map-marker-alt icn" aria-hidden="true"><span class="sr-only">icon</span></i>
																	Convention Center, Hilton Hotel 
																</a>
															</div>
														</div>
													</div>
													<div class="w-100">
													</div>
												</div>
											</div>
										</div>
										<div class="ibftRow px-3 pt-3 pb-3 px-lg-6 pt-lg-6 pb-lg-6">
											<div class="openerWrap position-relative d-sm-flex">
												<time datetime="2011-01-12" class="ibfOpenerTime text-secondary flex-shrink-0 mr-3 mr-lg-8 pt-3 pt-lg-5">6:15pm</time>
												<button class="ibtbtOpener position-absolute" type="button" data-toggle="collapse" data-target="#collapseUUUV" aria-expanded="false" aria-controls="collapseUUUV"><i class="fas fa-chevron-down"><span class="sr-only">icon</span></i></button>
												<div class="descrWrap flex-grow-1">
													<div class="tpWrap w-100 d-flex">
														<div class="imgHolder flex-shrink-0 mr-2 mr-lg-4">
															<img src="http://placehold.it/85x80" class="img-fluid" alt="image description">
														</div>
														<div class="wrap">
															<h4 class="fontBase mb-2">Achieveing Business Goal</h4>
															<h5 class="fontBase">K. Amadeo, Chairman</h5>
															<div id="collapseUUUV" class="collapse" data-parent="#ibitAccordionII">
																<p>We care for more than 200 thousand exhibits spanning billions of years and welcome more than five million way visitors annually.</p>
																<a href="#" class="ftPinLink text-blueClr7 text-uppercase">
																	<i class="fas fa-map-marker-alt icn" aria-hidden="true"><span class="sr-only">icon</span></i>
																	Convention Center, Hilton Hotel 
																</a>
															</div>
														</div>
													</div>
													<div class="w-100">
													</div>
												</div>
											</div>
										</div>
										<div class="ibftRow px-3 pt-3 pb-3 px-lg-6 pt-lg-6 pb-lg-6">
											<div class="openerWrap position-relative d-sm-flex">
												<time datetime="2011-01-12" class="ibfOpenerTime text-secondary flex-shrink-0 mr-8">7:30pm</time>
												<div class="descrWrap flex-grow-1">
													<div class="tpWrap w-100 d-flex">
														<div class="imgHolder flex-shrink-0 mr-2 mr-lg-4">
															
														</div>
														<div class="wrap">
															<h4 class="fontBase mb-0">Cocktail and networking</h4>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- ourAritstsBlock -->
			<section class="ourAritstsBlock text-center pt-6 pb-8">
				<div class="container">
					<!-- headingHead -->
					<header class="headingHead mb-7 mb-md-9 mb-xl-12">
						<h1>Event Speakers</h1>
					</header>
					<div class="row">
						<div class="col-12 col-md-4">
							<!-- artistProfileColumn -->
							<article class="artistProfileColumn text-gray777 mb-6 mb-lg-9 mb-xl-13 mx-auto">
								<div class="imgHolder mb-6">
									<a href="single-artist.html"><img src="http://placehold.it/365x345" class="img-fluid" alt="image description"></a>
								</div>
								<h2>Nimrod Barshad</h2>
								<h3 class="fontBase mb-2">Painter, Sculptor, Conceptual Artist</h3>
								<p><a href="tel:+61986543210" class="textDecorationNone">+61 98654 3210</a> / <a href="javascript:void(0);">E-mail</a></p>
							</article>
						</div>
						<div class="col-12 col-md-4">
							<!-- artistProfileColumn -->
							<article class="artistProfileColumn text-gray777 mb-6 mb-lg-9 mb-xl-13 mx-auto">
								<div class="imgHolder mb-6">
									<a href="single-artist.html"><img src="http://placehold.it/365x345" class="img-fluid" alt="image description"></a>
								</div>
								<h2>Claude K. Amadeo</h2>
								<h3 class="fontBase mb-2">Painter, Abstract Artist</h3>
								<p><a href="tel:+61986543210" class="textDecorationNone">+61 98654 3210</a> / <a href="javascript:void(0);">E-mail</a></p>
							</article>
						</div>
						<div class="col-12 col-md-4">
							<!-- artistProfileColumn -->
							<article class="artistProfileColumn text-gray777 mb-6 mb-lg-9 mb-xl-13 mx-auto">
								<div class="imgHolder mb-6">
									<a href="single-artist.html"><img src="http://placehold.it/365x345" class="img-fluid" alt="image description"></a>
								</div>
								<h2>Linda M. Dugan</h2>
								<h3 class="fontBase mb-2">Conceptual Artist</h3>
								<p><a href="tel:+61986543210" class="textDecorationNone">+61 98654 3210</a> / <a href="javascript:void(0);">E-mail</a></p>
							</article>
						</div>
						<div class="col-12 col-md-4">
							<!-- artistProfileColumn -->
							<article class="artistProfileColumn text-gray777 mb-6 mb-lg-9 mb-xl-13 mx-auto">
								<div class="imgHolder mb-6">
									<a href="single-artist.html"><img src="http://placehold.it/365x345" class="img-fluid" alt="image description"></a>
								</div>
								<h2>Tankha Atska</h2>
								<h3 class="fontBase mb-2">Abstract Artist</h3>
								<p><a href="tel:+61986543210" class="textDecorationNone">+61 98654 3210</a> / <a href="javascript:void(0);">E-mail</a></p>
							</article>
						</div>
						<div class="col-12 col-md-4">
							<!-- artistProfileColumn -->
							<article class="artistProfileColumn text-gray777 mb-6 mb-lg-9 mb-xl-13 mx-auto">
								<div class="imgHolder mb-6">
									<a href="single-artist.html"><img src="http://placehold.it/365x345" class="img-fluid" alt="image description"></a>
								</div>
								<h2>Tommy Martinez</h2>
								<h3 class="fontBase mb-2">Painter, Conceptual Artist</h3>
								<p><a href="tel:+61986543210" class="textDecorationNone">+61 98654 3210</a> / <a href="javascript:void(0);">E-mail</a></p>
							</article>
						</div>
						<div class="col-12 col-md-4">
							<!-- artistProfileColumn -->
							<article class="artistProfileColumn text-gray777 mb-6 mb-lg-9 mb-xl-13 mx-auto">
								<div class="imgHolder mb-6">
									<a href="single-artist.html"><img src="http://placehold.it/365x345" class="img-fluid" alt="image description"></a>
								</div>
								<h2>Henry Merparlo</h2>
								<h3 class="fontBase mb-2">Painter, Sculptor, Conceptual Artist</h3>
								<p><a href="tel:+61986543210" class="textDecorationNone">+61 98654 3210</a> / <a href="javascript:void(0);">E-mail</a></p>
							</article>
						</div>
					</div>
				</div>
			</section>
			<aside class="lociAside position-relative bg-secondary text-gray888 pt-4 pt-sm-10 pb-sm-10 pt-lg-16 pb-lg-18">
				<div class="container">
					<div class="row">
						<div class="col-12 col-sm-6 col-md-4 offset-md-2">
							<div class="ml-md-n3 mb-5 mb-sm-0">
								<h2 class="h2Medium text-white mb-5">Location</h2>
								<div class="eabDescrText">
									<p>Muzze Conference Hall</p>
								</div>
								<p class="mb-5">22720 EL Camino Real <br>Santa Margarita, NY 93453</p>
								<p class="mb-5"><a href="tel:16179876543" class="colorInherit textDecorationNone">1 (617) 987-6543</a> <br><a href="mailto:museum@example.org" class="colorInherit textDecorationNone">museum@example.org</a></p>
								<a href="javascript:void(0);" class="btn btnGr999 btnGr999Outline bdr2 align-top text-uppercase fontBase px-xl-5 mt-2">Plan Your Visit</a>
							</div>
						</div>
						<div class="col-12 col-md-6 position-static">
							<!-- fasFrameWrap -->
							<div class="fasFrameWrap fasFrameWrapII mx-n3 mx-sm-0">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3117.259425640003!2d-90.29593598438974!3d38.61991257085702!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87d8b57b271310d3%3A0x53ff7568884d5d00!2sKnox%20Industrial%20Dr%2C%20St.%20Louis%2C%20MO%2063139%2C%20USA!5e0!3m2!1sen!2s!4v1587836825553!5m2!1sen!2s" class="w-100 h-100 d-block border-0 position-absolute" aria-hidden="false"></iframe>
							</div>
						</div>
					</div>
				</div>
				<div class="imgHolder d-none d-md-block position-absolute h-100">
					<img src="http://placehold.it/480x500" class="w-100 h-100 imgFit" alt="image description">
				</div>
			</aside>
			<!-- ourMissionBlock -->
			<article class="ourMissionBlock pt-6 pt-md-9 pb-3 pb-md-9 pt-lg-12 pb-lg-13 pt-xl-20 pb-xl-20">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-8 offset-md-2">
							<div class="px-xl-5">
								<!-- headingHead -->
								<header class="headingHead text-center mb-7 mb-lg-10 mb-xl-16">
									<h1 class="mb-4">Sponsers &amp; Partners</h1>
									<div class="hhFzMedium hhFzMediumVvi text-gray888">
										<p>The Art &amp; History Museum in addition to significant support from its Board of Trustees, receives contributions from many dedicated Sponsers and Partners.</p>
									</div>
								</header>
							</div>
						</div>
					</div>
					<!-- logosList -->
					<ul class="list-unstyled logosList mb-0 text-center d-flex flex-wrap justify-content-center mx-auto">
						<li>
							<a href="javascript:void(0);">
								<img src="http://placehold.it/150x100" class="img-fluid" alt="great village">
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<img src="http://placehold.it/150x100" class="img-fluid" alt="dilly">
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<img src="http://placehold.it/150x100" class="img-fluid" alt="walkers">
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<img src="http://placehold.it/150x100" class="img-fluid" alt="hipsters">
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<img src="http://placehold.it/150x100" class="img-fluid" alt="amelie">
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<img src="http://placehold.it/150x100" class="img-fluid" alt="binge">
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<img src="http://placehold.it/150x100" class="img-fluid" alt="full rut">
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<img src="http://placehold.it/150x100" class="img-fluid" alt="bortoloni">
							</a>
						</li>
					</ul>
				</div>
			</article>
			<!-- timetableAside -->
			<aside class="timetableAside bgCover position-relative pt-5 pb-5 pt-md-9 pb-md-9 pt-lg-12 pb-lg-13 pt-xl-22 pb-xl-22" style="background-image: url(http://placehold.it/1920x530);">
				<div class="container">
					<!-- ttaHolderBox -->
					<div class="ttaHolderBox position-relative rounded-lg bg-white mx-auto text-center px-6 pt-6 pb-6 px-lg-10 pt-lg-9 pb-lg-10">
						<h3 class="mb-4">Hurry Up! <br>Limited tickets available</h3>
						<p class="mb-7">Last time our tickets sold fast so don’t miss.</p>
						<a href="javascript:void(0);" class="btn btnbl btnMidMinWidth">Buy Ticket</a>
					</div>
				</div>
			</aside>
		</main>