<main>
			<!-- bsSlidViv -->
			<div class="bsSlidViv">
				<div>
					<!-- introBannerBlock -->
					<article class="introBannerBlock introBannerBlockVvi overlayDbl hdIsViClActive w-100 text-white position-relative d-flex bgCover" style="background-image: url(http://placehold.it/1920x900);">
						<div class="ibbAlignHolder w-100 d-flex align-items-center">
							<div class="ibbHolder w-100">
								<div class="container holder position-relative py-10">
									<div class="row">
										<div class="col-12 col-md-8">
											<strong class="d-block fontSerif mainHeadingTitle font-weight-normal mb-4">Discover the Natural World</strong>
											<h1 class="text-white ibbHeading mb-8">Country’s #1 natural history museum</h1>
											<a href="javascript:void(0);" class="btn btn-dark btnDarkInverse align-top btnMdMinWidth">Discover More</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</article>
				</div>
				<div>
					<!-- introBannerBlock -->
					<article class="introBannerBlock introBannerBlockVvi overlayDbl hdIsViClActive w-100 text-white position-relative d-flex bgCover" style="background-image: url(http://placehold.it/1920x900);">
						<div class="ibbAlignHolder w-100 d-flex align-items-center">
							<div class="ibbHolder w-100">
								<div class="container holder position-relative py-10">
									<div class="row">
										<div class="col-12 col-md-8">
											<strong class="d-block fontSerif mainHeadingTitle font-weight-normal mb-4">Discover the World</strong>
											<h1 class="text-white ibbHeading mb-8">Country’s #2 natural museum</h1>
											<a href="#" class="btn btn-dark btnDarkInverse align-top btnMdMinWidth">Discover More</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</article>
				</div>
				<div>
					<!-- introBannerBlock -->
					<article class="introBannerBlock introBannerBlockVvi overlayDbl hdIsViClActive w-100 text-white position-relative d-flex bgCover" style="background-image: url(http://placehold.it/1920x900);">
						<div class="ibbAlignHolder w-100 d-flex align-items-center">
							<div class="ibbHolder w-100">
								<div class="container holder position-relative py-10">
									<div class="row">
										<div class="col-12 col-md-8">
											<strong class="d-block fontSerif mainHeadingTitle font-weight-normal mb-4">Discover the World</strong>
											<h1 class="text-white ibbHeading mb-8">Country’s #2 natural museum</h1>
											<a href="#" class="btn btn-dark btnDarkInverse align-top btnMdMinWidth">Discover More</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</article>
				</div>
			</div>
			<!-- calloutAside -->
			<aside class="calloutAside calloutAsideVvi bg-orange text-grayf7f7f7 pt-2 pb-2 pt-lg-4 pb-lg-4 pt-xl-7 pb-xl-7">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-8">
							<p class="mb-0">Looking for an Amazing Museum theme for your business? <a href="javascript:void(0);" class="text-white">Buy now!</a></p>
						</div>
						<div class="col-12 col-md-4 d-md-flex align-items-md-start justify-content-md-end">
							<!-- widgetCllout -->
							<div class="widgetCllout position-relative text-gray777 px-5 pt-6 mt-md-n34 mx-auto mx-md-0 mb-n15 mb-md-0 mt-3 w-100">
								<strong class="title d-block font-weight-normal text-secondary mb-2">Open Hours:</strong>
								<time datetime="2011-01-12" class="d-block">Daily: 10 a.m. – 5 p.m. Monday &amp; Holidays: Closed</time>
								<a href="visit-us-block.html" class="wcBtn d-block text-center mx-n5 mt-5">Plan Your Visit</a>
							</div>
						</div>
					</div>
				</div>
			</aside>
			<!-- aboutBlock -->
			<article class="aboutBlock pt-20 pb-6 pt-md-10 pb-md-10 pt-lg-15 pb-lg-16 pt-xl-20 pb-xl-21">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-6">
							<div class="imgHolder mb-4 mb-md-0 mt-md-2">
								<img src="http://placehold.it/560x390" class="img-fluid w-100" alt="image description">
							</div>
						</div>
						<div class="col-12 col-md-6">
							<h2 class="h2Medium mb-5">About Our Museum</h2>
							<div class="eabDescrText mb-4">
								<p>Muzze art & history museum is committed to producing distinctive exhibitions and public programming on historical contemporary Japanese and Asian art.</p>
							</div>
							<p class="mb-7">The museum was founded in 1950, it owned not a single work of art through the combined efforts of generations of curators, researchers, and collectors, our collection has grown to represent more than one thousand years of art from across the world.</p>
							<a href="javascript:void(0);" class="btn btnGre5 btnGre5Outline bdr2 btnMdMinWidth">Learn More</a>
						</div>
					</div>
				</div>
			</article>
			<!-- venuesBlock -->
			<section class="venuesBlock bg-grayf7f7f7 hasBdr pt-6 pb-4 pt-md-11 pb-md-6 pt-lg-16 pb-lg-8 pt-xl-22 pb-xl-14">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-3">
							<!-- headHeading -->
							<header class="headHeading text-center text-lg-left mb-7">
								<h2 class="h2Medium mb-5">Venues On View of Museum</h2>
								<div class="hhFzMedium hhFzMediumVvi">
									<p class="mb-6">The latest exhibitions across our diffrent locations. Have fun together in the Museum.</p>
								</div>
								<a href="venues.html" class="btn btnGre5 btnGre5Outline bdr2">Learn More</a>
							</header>
						</div>
						<div class="col-12 col-lg-9">
							<div class="row">
								<div class="col-12 col-sm-6 col-md-4">
									<!-- vnFig -->
									<figure class="vnFig mb-6 mb-xl-8 text-center mx-auto mx-sm-0">
										<a href="venues.html">
											<div class="imgHolder">
												<img src="http://placehold.it/270x250" class="img-fluid w-100 h-100 imgFit" alt="image description">
											</div>
											<div class="caption position-relative">
												<h3 class="text-white fontBase mb-0">Modern Art</h3>
											</div>
										</a>
									</figure>
								</div>
								<div class="col-12 col-sm-6 col-md-4">
									<!-- vnFig -->
									<figure class="vnFig mb-6 mb-xl-8 text-center mx-auto mx-sm-0">
										<a href="venues.html">
											<div class="imgHolder">
												<img src="http://placehold.it/270x250" class="img-fluid w-100 h-100 imgFit" alt="image description">
											</div>
											<div class="caption position-relative">
												<h3 class="text-white fontBase mb-0">Sculpters</h3>
											</div>
										</a>
									</figure>
								</div>
								<div class="col-12 col-sm-6 col-md-4">
									<!-- vnFig -->
									<figure class="vnFig mb-6 mb-xl-8 text-center mx-auto mx-sm-0">
										<a href="venues.html">
											<div class="imgHolder">
												<img src="http://placehold.it/270x250" class="img-fluid w-100 h-100 imgFit" alt="image description">
											</div>
											<div class="caption position-relative">
												<h3 class="text-white fontBase mb-0">Anthropology</h3>
											</div>
										</a>
									</figure>
								</div>
								<div class="col-12 col-sm-6 col-md-4">
									<!-- vnFig -->
									<figure class="vnFig mb-6 mb-xl-8 text-center mx-auto mx-sm-0">
										<a href="venues.html">
											<div class="imgHolder">
												<img src="http://placehold.it/270x250" class="img-fluid w-100 h-100 imgFit" alt="image description">
											</div>
											<div class="caption position-relative">
												<h3 class="text-white fontBase mb-0">Kings of History</h3>
											</div>
										</a>
									</figure>
								</div>
								<div class="col-12 col-sm-6 col-md-4">
									<!-- vnFig -->
									<figure class="vnFig mb-6 mb-xl-8 text-center mx-auto mx-sm-0">
										<a href="venues.html">
											<div class="imgHolder">
												<img src="http://placehold.it/270x250" class="img-fluid w-100 h-100 imgFit" alt="image description">
											</div>
											<div class="caption position-relative">
												<h3 class="text-white fontBase mb-0">German Art</h3>
											</div>
										</a>
									</figure>
								</div>
								<div class="col-12 col-sm-6 col-md-4">
									<!-- vnFig -->
									<figure class="vnFig mb-6 mb-xl-8 text-center mx-auto mx-sm-0">
										<a href="venues.html">
											<div class="imgHolder">
												<img src="http://placehold.it/270x250" class="img-fluid w-100 h-100 imgFit" alt="image description">
											</div>
											<div class="caption position-relative">
												<h3 class="text-white fontBase mb-0">Historical Life</h3>
											</div>
										</a>
									</figure>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- upcomingEveBlock -->
			<section class="upcomingEveBlock pt-6 pb-6 pt-md-9 pb-md-9 pt-lg-13 pb-lg-14 pt-xl-19 pb-xl-20">
				<div class="container">
					<!-- topHeadingHead -->
					<header class="topHeadingHead text-center mb-7 mb-lg-12">
						<h1>Upcoming Events</h1>
					</header>
					<div class="row justify-content-center">
						<div class="col-12 col-md-6 col-lg-4">
							<!-- ueEveColumn -->
							<article class="ueEveColumn w-100 position-relative border text-gray777 gridView mb-6 mx-auto mx-md-0">
								<time datetime="2011-01-12" class="ueecTimeTag position-absolute text-uppercase d-flex bg-white text-secondary">
									<strong class="day d-flex align-items-center font-weight-normal bg-warning text-white px-1">01</strong>
									<span class="d-flex align-items-center px-2">MAR 2019</span>
								</time>
								<div class="imgHolder flex-shrink-0">
									<img src="http://placehold.it/365x320" class="w-100 h-100 imgFit" alt="image description">
								</div>
								<div class="descrWrap pt-5 pb-6 pl-3 pr-3 pl-xl-5 pr-xl-5">
									<strong class="catagoryTitle d-block font-weight-normal text-uppercase mb-3">Gallery Talk</strong>
									<h2 class="h2Small h2SmallViv mb-2">
										<a href="single-events.html">Rough Cut: Independent Japanese Antiquity</a>
									</h2>
									<address class="mb-6"><time datetime="2011-01-12">12:30pm - 1:00pm</time><span>/</span>32 Quincy Street, Cambridge, MA</address>
									<a href="single-events.html" class="btn btnGre5 btnGre5Outline bdr2 mb-1 btnSmMinWidth btn-sm">Details</a>
								</div>
							</article>
						</div>
						<div class="col-12 col-md-6 col-lg-4">
							<!-- ueEveColumn -->
							<article class="ueEveColumn w-100 position-relative border text-gray777 gridView mb-6 mx-auto mx-md-0">
								<time datetime="2011-01-12" class="ueecTimeTag position-absolute text-uppercase d-flex bg-white text-secondary">
									<strong class="day d-flex align-items-center font-weight-normal bg-warning text-white px-1">03</strong>
									<span class="d-flex align-items-center px-2">MAR 2019</span>
								</time>
								<div class="imgHolder flex-shrink-0">
									<img src="http://placehold.it/365x320" class="w-100 h-100 imgFit" alt="image description">
								</div>
								<div class="descrWrap pt-5 pb-6 pl-3 pr-3 pl-xl-5 pr-xl-5">
									<strong class="catagoryTitle d-block font-weight-normal text-uppercase mb-3">Special Event</strong>
									<h2 class="h2Small h2SmallViv mb-2">
										<a href="single-events.html">Naive Painting Of The 19th Century</a>
									</h2>
									<address class="mb-6"><time datetime="2011-01-12">12:00pm - 5:00pm</time><span>/</span>Western Avenue, Allston, MA</address>
									<div class="btnsWrap d-flex flex-wrap mx-n1">
										<a href="single-events.html" class="btn btnGre5 btnGre5Outline mb-1 bdr2 btnSmMinWidth btn-sm mx-1">Details</a>
										<a href="single-events.html" class="btn btnGre5 mx-1 btnGre5 bdr2 btn-sm mb-1">Fee</a>
									</div>
								</div>
							</article>
						</div>
						<div class="col-12 col-md-6 col-lg-4">
							<!-- ueEveColumn -->
							<article class="ueEveColumn w-100 position-relative border text-gray777 gridView mb-6 mx-auto mx-md-0">
								<time datetime="2011-01-12" class="ueecTimeTag position-absolute text-uppercase d-flex bg-white text-secondary">
									<strong class="day d-flex align-items-center font-weight-normal bg-warning text-white px-1">08</strong>
									<span class="d-flex align-items-center px-2">MAR 2019</span>
								</time>
								<div class="imgHolder flex-shrink-0">
									<img src="http://placehold.it/365x320" class="w-100 h-100 imgFit" alt="image description">
								</div>
								<div class="descrWrap pt-5 pb-6 pl-3 pr-3 pl-xl-5 pr-xl-5">
									<strong class="catagoryTitle d-block font-weight-normal text-uppercase mb-3">Tour</strong>
									<h2 class="h2Small h2SmallViv mb-2">
										<a href="single-events.html">Rojo Y Negro Latin American Art</a>
									</h2>
									<address class="mb-6"><time datetime="2011-01-12">12:30pm - 1:00pm</time><span>/</span>32 Quincy Street, Cambridge, MA</address>
									<div class="btnsWrap d-flex flex-wrap mx-n1">
										<a href="single-events.html" class="btn btnGre5 btnGre5Outline mb-1 bdr2 btnSmMinWidth btn-sm mx-1">Details</a>
										<a href="single-events.html" class="btn mx-1 px-4 mb-1 btn-secondary bdr2 btn-sm">Book Online</a>
									</div>
								</div>
							</article>
						</div>
					</div>
					<!-- btnHolder -->
					<footer class="btnHolder text-center pt-lg-4">
						<a href="single-events.html" class="d-inline-block align-top teeSeeAllBtn mt-2">See All Events <i class="icomoon-arrowCircleRight align-middle icn ml-1"><span class="sr-only">icon</span></i></a>
					</footer>
				</div>
			</section>
			<!-- ourGalleryBlock -->
			<section class="bg-secondary ourGalleryBlock pt-7 pb-4 pt-lg-12 pb-lg-16">
				<div class="container">
					<!-- headHeading -->
					<header class="headHeading text-center mb-6 mb-lg-12">
						<h1 class="text-capitalize text-white">See Gallery</h1>
					</header>
				</div>
				<div class="container-fluid px-md-8 px-lg-12 px-xl-20">
					<div class="row">
						<div class="col-12 col-sm-4 col-md-3">
							<!-- galFig -->
							<figure class="galFig galFigII mb-0 position-relative mx-auto mx-md-0 mb-6">
								<a data-fancybox="gallery" href="http://placehold.it/265x230">
									<img src="http://placehold.it/265x230" class="img-fluid" alt="image description">
								</a>
								<div class="gafCaption inaccessible d-flex align-items-center justify-content-center text-center text-white w-100 h-100">
									<div class="wrap w-100 p-4">
										<i class="rounded-circle icnWrap icomoon-search bg-brown d-flex align-items-center justify-content-center mx-auto mb-2"><span class="sr-only">icon</span></i>
										<h3 class="text-white mb-0">Germanian Grothery</h3>
									</div>
								</div>
							</figure>
						</div>
						<div class="col-12 col-sm-4 col-md-3">
							<!-- galFig -->
							<figure class="galFig galFigII mb-0 position-relative mx-auto mx-md-0 mb-6">
								<a data-fancybox="gallery" href="http://placehold.it/265x230">
									<img src="http://placehold.it/265x230" class="img-fluid" alt="image description">
								</a>
								<div class="gafCaption inaccessible d-flex align-items-center justify-content-center text-center text-white w-100 h-100">
									<div class="wrap w-100 p-4">
										<i class="rounded-circle icnWrap icomoon-search bg-brown d-flex align-items-center justify-content-center mx-auto mb-2"><span class="sr-only">icon</span></i>
										<h3 class="text-white mb-0">Germanian Grothery</h3>
									</div>
								</div>
							</figure>
						</div>
						<div class="col-12 col-sm-4 col-md-3">
							<!-- galFig -->
							<figure class="galFig galFigII mb-0 position-relative mx-auto mx-md-0 mb-6">
								<a data-fancybox="gallery" href="http://placehold.it/265x230">
									<img src="http://placehold.it/265x230" class="img-fluid" alt="image description">
								</a>
								<div class="gafCaption inaccessible d-flex align-items-center justify-content-center text-center text-white w-100 h-100">
									<div class="wrap w-100 p-4">
										<i class="rounded-circle icnWrap icomoon-search bg-brown d-flex align-items-center justify-content-center mx-auto mb-2"><span class="sr-only">icon</span></i>
										<h3 class="text-white mb-0">Germanian Grothery</h3>
									</div>
								</div>
							</figure>
						</div>
						<div class="col-12 col-sm-4 col-md-3">
							<!-- galFig -->
							<figure class="galFig galFigII mb-0 position-relative mx-auto mx-md-0 mb-6">
								<a data-fancybox="gallery" href="http://placehold.it/265x230">
									<img src="http://placehold.it/265x230" class="img-fluid" alt="image description">
								</a>
								<div class="gafCaption inaccessible d-flex align-items-center justify-content-center text-center text-white w-100 h-100">
									<div class="wrap w-100 p-4">
										<i class="rounded-circle icnWrap icomoon-search bg-brown d-flex align-items-center justify-content-center mx-auto mb-2"><span class="sr-only">icon</span></i>
										<h3 class="text-white mb-0">Germanian Grothery</h3>
									</div>
								</div>
							</figure>
						</div>
						<div class="col-12 col-sm-4 col-md-3">
							<!-- galFig -->
							<figure class="galFig galFigII mb-0 position-relative mx-auto mx-md-0 mb-6">
								<a data-fancybox="gallery" href="http://placehold.it/265x230">
									<img src="http://placehold.it/265x230" class="img-fluid" alt="image description">
								</a>
								<div class="gafCaption inaccessible d-flex align-items-center justify-content-center text-center text-white w-100 h-100">
									<div class="wrap w-100 p-4">
										<i class="rounded-circle icnWrap icomoon-search bg-brown d-flex align-items-center justify-content-center mx-auto mb-2"><span class="sr-only">icon</span></i>
										<h3 class="text-white mb-0">Germanian Grothery</h3>
									</div>
								</div>
							</figure>
						</div>
						<div class="col-12 col-sm-4 col-md-3">
							<!-- galFig -->
							<figure class="galFig galFigII mb-0 position-relative mx-auto mx-md-0 mb-6">
								<a data-fancybox="gallery" href="http://placehold.it/265x230">
									<img src="http://placehold.it/265x230" class="img-fluid" alt="image description">
								</a>
								<div class="gafCaption inaccessible d-flex align-items-center justify-content-center text-center text-white w-100 h-100">
									<div class="wrap w-100 p-4">
										<i class="rounded-circle icnWrap icomoon-search bg-brown d-flex align-items-center justify-content-center mx-auto mb-2"><span class="sr-only">icon</span></i>
										<h3 class="text-white mb-0">Germanian Grothery</h3>
									</div>
								</div>
							</figure>
						</div>
						<div class="col-12 col-sm-4 col-md-3">
							<!-- galFig -->
							<figure class="galFig galFigII mb-0 position-relative mx-auto mx-md-0 mb-6">
								<a data-fancybox="gallery" href="http://placehold.it/265x230">
									<img src="http://placehold.it/265x230" class="img-fluid" alt="image description">
								</a>
							</figure>
						</div>
						<div class="col-12 col-sm-4 col-md-3">
							<!-- galFig -->
							<figure class="galFig galFigII mb-0 position-relative mx-auto mx-md-0 mb-6">
								<a data-fancybox="gallery" href="http://placehold.it/265x230">
									<img src="http://placehold.it/265x230" class="img-fluid" alt="image description">
								</a>
								<div class="gafCaption inaccessible d-flex align-items-center justify-content-center text-center text-white w-100 h-100">
									<div class="wrap w-100 p-4">
										<i class="rounded-circle icnWrap icomoon-search bg-brown d-flex align-items-center justify-content-center mx-auto mb-2"><span class="sr-only">icon</span></i>
										<h3 class="text-white mb-0">Germanian Grothery</h3>
									</div>
								</div>
							</figure>
						</div>
					</div>
				</div>
			</section>
			<!-- testimonialsBlock -->
			<section class="testimonialsBlock hasBdr border-top-0 bg-grayf8f8f8 text-center pt-8 pb-9 pt-lg-14 pb-lg-13 pt-xl-24 pb-xl-19">
				<div class="container">
					<!-- topHeadingHead -->
					<header class="topHeadingHead position-relative mb-6 mb-md-8">
						<h1 class="mb-0">What Our Visitors Saying</h1>
						<!-- thhIcnBehind -->
						<span class="thhIcnBehind position-absolute fontAlterVii mt-11">“</span>
					</header>
					<div class="clientQuotesSliderVvi">
						<div>
							<!-- cqsQuote -->
							<blockquote class="m-0 py-0 px-0 px-mx-24 px-lg-34 border-0 cqsQuote fontSerif text-gray777">
								<q class="d-block mb-7">Designing is a matter of concentration. You go deep into what you want to do. It’s about intensive research, really. The concentration is warm and intimate and like the fire inside the earth.</q>
								<cite class="d-block text-secondary text-uppercase fontBase">Mark Anderson</cite>
							</blockquote>
						</div>
						<div>
							<!-- cqsQuote -->
							<blockquote class="m-0 py-0 px-0 px-mx-24 px-lg-34 border-0 cqsQuote fontSerif text-gray777">
								<q class="d-block mb-7">Designing is a matter of concentration. You go deep into what you want to do. It’s about intensive research, really. The concentration is warm and intimate and like the fire inside the earth.</q>
								<cite class="d-block text-secondary text-uppercase fontBase">Mark Anderson</cite>
							</blockquote>
						</div>
						<div>
							<!-- cqsQuote -->
							<blockquote class="m-0 py-0 px-0 px-mx-24 px-lg-34 border-0 cqsQuote fontSerif text-gray777">
								<q class="d-block mb-7">Designing is a matter of concentration. You go deep into what you want to do. It’s about intensive research, really. The concentration is warm and intimate and like the fire inside the earth.</q>
								<cite class="d-block text-secondary text-uppercase fontBase">Mark Anderson</cite>
							</blockquote>
						</div>
						<div>
							<!-- cqsQuote -->
							<blockquote class="m-0 py-0 px-0 px-mx-24 px-lg-34 border-0 cqsQuote fontSerif text-gray777">
								<q class="d-block mb-7">Designing is a matter of concentration. You go deep into what you want to do. It’s about intensive research, really. The concentration is warm and intimate and like the fire inside the earth.</q>
								<cite class="d-block text-secondary text-uppercase fontBase">Mark Anderson</cite>
							</blockquote>
						</div>
					</div>
				</div>
			</section>
			<!-- newsBlock -->
			<section class="newsBlock pt-7 pb-2 pt-md-10 pb-md-6 pt-lg-14 pb-lg-10 pt-xl-21 pb-xl-16">
				<div class="container">
					<!-- topHeadingHead -->
					<header class="topHeadingHead text-center mb-7 mb-lg-12">
						<strong class="tpHeadingTitle text-uppercase font-weight-normal d-block mb-2 mb-md-5">ReaD Journal</strong>
						<h1>Latest Blog Posts</h1>
					</header>
					<div class="row">
						<div class="col-12 col-md-6 col-lg-4">
							<!-- newsColumn -->
							<article class="newsColumn text-gray777 mb-6 mx-auto">
								<div class="imgHolder">
									<a href="single-post.html">
										<img src="http://placehold.it/365x280" class="img-fluid" alt="image description">
									</a>
								</div>
								<div class="descrWrap bg-white position-relative mt-n16 pt-7 pr-3 pr-md-6">
									<time datetime="2011-01-12" class="ncTimeStamp d-block text-gray777 mb-2">March 10, 2019</time>
									<h2 class="mb-4 mb-xl-6">
										<a href="single-post.html">Tag Along on a Tour: Imqrae’s Baphael and the Posonarni</a>
									</h2>
									<a href="single-post.html" class="readMore">Read More</a>
								</div>
							</article>
						</div>
						<div class="col-12 col-md-6 col-lg-4">
							<!-- newsColumn -->
							<article class="newsColumn text-gray777 mb-6 mx-auto">
								<div class="imgHolder">
									<a href="single-post.html">
										<img src="http://placehold.it/365x280" class="img-fluid" alt="image description">
									</a>
								</div>
								<div class="descrWrap bg-white position-relative mt-n16 pt-7 pr-3 pr-md-6">
									<time datetime="2011-01-12" class="ncTimeStamp d-block text-gray777 mb-2">March 09, 2019</time>
									<h2 class="mb-4 mb-xl-6">
										<a href="single-post.html">Looking Forward: The Phasrasth and Kenyard</a>
									</h2>
									<a href="single-post.html" class="readMore">Read More</a>
								</div>
							</article>
						</div>
						<div class="col-12 col-md-6 col-lg-4">
							<!-- newsColumn -->
							<article class="newsColumn text-gray777 mb-6 mx-auto">
								<div class="imgHolder">
									<a href="single-post.html">
										<img src="http://placehold.it/365x280" class="img-fluid" alt="image description">
									</a>
								</div>
								<div class="descrWrap bg-white position-relative mt-n16 pt-7 pr-3 pr-md-6">
									<time datetime="2011-01-12" class="ncTimeStamp d-block text-gray777 mb-2">March 05, 2019</time>
									<h2 class="mb-4 mb-xl-6">
										<a href="single-post.html">7 Female Impression Every Art History Lover Should Know</a>
									</h2>
									<a href="single-post.html" class="readMore">Read More</a>
								</div>
							</article>
						</div>
					</div>
				</div>
			</section>
			<!-- supportUsBlock -->
			<section class="supportUsBlock hasBdr bg-grayf8f8f8 pt-6 pb-1 pt-md-11 pb-md-5 pt-lg-16 pb-lg-10 pt-xl-22 pb-xl-16">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-4">
							<!-- subFeatureColumn -->
							<article class="subFeatureColumn text-center mb-6 px-xl-6">
								<span class="icnWrap animItVi d-flex align-items-center mb-3 mb-lg-7">
									<span class="d-block w-100">
										<img src="images/icn04.svg" width="78" height="85" class="img-fluid" alt="icon">
									</span>
								</span>
								<h2 class="mb-2 mb-lg-4">Learn</h2>
								<p class="mb-4 mb-lg-7">Various type of internship programs available for students.</p>
								<a href="javascript:void(0);" class="btn btn-outline-dark align-top btnMdMinWidth bdr2">Internship</a>
							</article>
						</div>
						<div class="col-12 col-md-4">
							<!-- subFeatureColumn -->
							<article class="subFeatureColumn text-center mb-6 px-xl-6">
								<span class="icnWrap animItVi d-flex align-items-center mb-3 mb-lg-7">
									<span class="d-block w-100">
										<img src="images/icn05.svg" width="74" height="78" class="img-fluid" alt="icon">
									</span>
								</span>
								<h2 class="mb-2 mb-lg-4">Donate</h2>
								<p class="mb-4 mb-lg-7">Our Memberships provide wonderful benefits and supports.</p>
								<a href="javascript:void(0);" class="btn btn-outline-dark align-top btnMdMinWidth bdr2">Make a Gift</a>
							</article>
						</div>
						<div class="col-12 col-md-4">
							<!-- subFeatureColumn -->
							<article class="subFeatureColumn text-center mb-6 px-xl-6">
								<span class="icnWrap animItVi d-flex align-items-center mb-3 mb-lg-7">
									<span class="d-block w-100">
										<img src="images/icn06.svg" width="78" height="75" class="img-fluid" alt="icon">
									</span>
								</span>
								<h2 class="mb-2 mb-lg-4">Experience</h2>
								<p class="mb-4 mb-lg-7">The ideal year-round location to host your wedding or special event.</p>
								<a href="javascript:void(0);" class="btn btn-outline-dark align-top btnMdMinWidth bdr2">Host Event</a>
							</article>
						</div>
					</div>
				</div>
			</section>
			<!-- newsletterAside -->
			<aside class="newsletterAside newsletterAsideViv bg-orange pt-5 pb-5 pt-lg-9 pb-lg-9 text-center text-lg-left">
				<div class="container">
					<div class="d-lg-flex align-items-lg-center justify-content-lg-between">
						<h3 class="text-white mb-3 mb-lg-0">Subscribe Newsletter</h3>
						<form action="#">
							<div class="form-row justify-content-center mx-n2">
								<div class="form-group px-2 mb-2 mb-md-0">
									<input type="text" class="form-control d-block" placeholder="Your Name">
								</div>
								<div class="form-group px-2 mb-2 mb-md-0">
									<input type="email" class="form-control d-block" placeholder="Your Email Address">
								</div>
								<div class="form-group px-2 mb-2 mb-md-0">
									<input type="submit" class="btn btn-secondary text-uppercase" value="sign up!">
								</div>
							</div>
						</form>
					</div>
				</div>
			</aside>
		</main>